[2013-05-19 16:47] egulias opened #1 "Integrate with https://coveralls.io/"
https://coveralls.io/ is a CI that runs coverages reports.

[2013-05-19 16:48] egulias opened #2 "Integrate with https://scrutinizer-ci.com/"
https://scrutinizer-ci.com/ provides CI for code analysis

[2013-05-19 16:51] egulias opened #3 "Change dependencies from JMS\Parser to Doctrine\Lexer"
The goal of this ported library was to ultimately integrate it as a Symfony 2 Validator. Thus there are some changes that need to be done before.
The first one is to depend on Doctrine\Lexer instead of JMS\Lexer since the firs one is already a dependency of Symfony.

[2013-06-16 16:57] #3 closed, assigned to nobody

[2013-06-16 16:59] egulias opened #4 "Transform into a Symfony Validator Contraint"
Transform the suite into a Symfony Validator Constraint so it can be used (https://github.com/symfony/Validator/blob/master/Constraints/EmailValidator.php)

[2013-07-25 08:05] #4 closed, assigned to egulias

[2013-10-13 08:58] sstok opened #9 ""symfony/validator" does not seem to be used"
The `"symfony/validator": "dev-master"` is used inside `composer.json`
But does not seem to be used anywhere, second you should try not require a master version if a looser version would also work.

If you really require at least 2.4 you can fix this with.
`~2.4`

[2013-10-13 18:42] #9 closed, assigned to nobody

[2014-01-12 17:05] egulias opened #10 "Review QuotedPair EmailParser method"
Check the right working and if it's being tested

[2014-01-12 17:06] egulias opened #11 "Improve EmailParser localPart parse"
This line: https://github.com/egulias/EmailValidator/blob/master/src/Egulias/EmailValidator/Parser/LocalPart.php#L52
The constant is wrong, since the value of the error should no be dependant on the value for that evaluation

[2014-01-12 17:08] egulias opened #12 "Test for TLD in EmailValidator"
This snippet was used for validating TLD
[code]
Add tests for it and check if still valid

[2014-05-04 16:15] #1 closed, assigned to egulias

[2014-06-12 11:24] kcassam opened #13 "accent in name part"
`têst@github.com` pass the validator

It should pass the validator.

As an example, if I use the following code, this addresses does not pass the validator :

[code]

[2014-06-17 14:00] #13 closed, assigned to nobody

[2014-07-06 17:20] #2 closed, assigned to egulias

[2014-08-01 06:08] dawehner opened #14 "Add a reasonable tag"
It would be great to add some useful tag. Either mark it as 1.0 and stable or as beta or something else. (I don't know how you think of the state of the project).

This would help people to not update each commit when they do a composer update.

[2014-08-01 07:03] #14 closed, assigned to nobody

[2014-08-14 14:48] yannickl88 opened #15 ""username @example.com" is validated incorrectly"
According to my knowledge (correct me if I am wrong) the email "username @example.com" is not a valid one. However, it does pass as a valid one in the validator.

It is in the same vein as "user name@example.com", which does get marked as invalid.

[2014-08-20 23:15] cs278 opened #18 "Discrepancies with is_email()"
Whilst investigating a Symfony issue (symfony/symfony#11722) I started working on comparing this library to the originals test suite. In doing so I've encountered multiple instances where this library produces a different result. There are 30 errors for syntax only checks and another 12 errors when DNS is consulted. My [results](https://gist.github.com/cs278/885545a2c923a56d6800) and ugly [git bra

[2014-08-29 20:35] brianfreytag opened #19 "Not properly handling special characters with restrictions"
There are certain special characters

[code]

that have special requirements.

The validator is currently allowing:
- brian,freytag@gmail.com
- bri[an]freytag@gmail.com

And other examples like those.

It is also saying things are invalid that are valid like:
- "brian,freytag"@gmail.com
- "brian freytag"@gmail.com
- "brian@freytag"@gmail.com
- brian\ freytag@gmail.com

There are a whole lot of RFC

[2014-09-01 22:42] #10 closed, assigned to nobody

[2014-09-02 15:35] #19 closed, assigned to nobody

[2014-09-02 15:40] brianfreytag opened #20 "v1.2.2 Symfony Issues"
@egulias Thank you very much for patching the bug, however, this introduced another (minor) bug into the Symfony integration.

It appears you're adding these special character (double quotes, escaping) to the warnings array. In Symfony, when you add `strict = true` into the constraint, it passes the strict variable into the library, which returns warnings as an error.

If somebody has the brian\ f

[2014-09-02 17:35] brianfreytag opened #21 "Words after domain part passes validation"
We received another error for an e-mail address passing validation:

```brianfreytag@gmail.com    test```

This will happen if a user copies and pastes their e-mail address from some sort of document with words after it, and they aren't paying attention.

This e-mail should NOT pass validation.

Thanks again @egulias!

[2014-09-14 18:22] #15 closed, assigned to nobody

[2014-09-16 15:46] stof opened #23 "the SensioLabs Insight link in the readme is a 404"

[2014-09-17 12:47] #23 closed, assigned to nobody

[2014-09-26 13:56] nickshanks opened #27 "All valid email addresses end with a dot"
If i'm reading the code correctly, line 38 of Parser/DomainPart.php fails an email address than ends with a dot. Technically all email addresses end in a dot as all "top-level" domains are relative to the root domain, "." — for example http://google.com./ is the true website of Google, and http://google.com/ is merely a local alias for it, which your DNS resolver could point to somewhere other tha

[2014-10-23 07:13] masakielastic opened #30 "Ill-formed byte sequences should be validated"
The validator bypasses Ill-formed byte sequences. The definition of UTF-8 string can be seen in RFC 3629 or "Table 3-7. Well-Formed UTF-8 Byte Sequences" in the Unicode Standard (from [my answer](http://stackoverflow.com/a/13695364/531320) on stackoverflow).

[code]
The way for validating UTF-8 string is using htmlspecialchars or preg_match.

[code]

[2014-11-01 23:31] boobooking opened #32 "If no dot in domain part say that email is valid"
I'm trying to validate that email "boobooin@mailru" it get a valid response. But it's not.

Correct email consist dot - "boobooin@mail.ru"

Tried with CheckDNS and Strict enabled - same result.

Tried email with no existed domain "boobooin@rentzilla12.ru" with CheckDNS enabled. Same incorrect result.

What am i doing wrong? Thanks in advance!

[2014-11-03 13:12] #32 closed, assigned to nobody

[2014-11-03 15:44] craue opened #34 "too long email address is no longer invalid with DNS and strict check enabled"
Let's take e.g. `str_repeat('a', 254) . '@gmail.com'`, which used to cause the warnings `RFC5322_LOCAL_TOOLONG` and `RFC5322_TOOLONG`. But with version 1.2.4, so after merging #33, there's no warning anymore.

[2014-11-06 08:59] #34 closed, assigned to nobody

[2014-11-14 22:09] ghost opened #36 "Invalid email appears valid"
[code]

Acording to the validator this email is valid.

[2014-11-29 09:13] #36 closed, assigned to nobody

[2014-12-01 07:17] tubssp opened #40 "version 1.2.6 requires doctrine/lexer dev-master"
if i install the version 1.2.6 have i the following problem:

  Problem 1
    - Installation request for egulias/email-validator v1.2.6 -> satisfiable by egulias/email-validator[1.2.6].
    - egulias/email-validator 1.2.6 requires doctrine/lexer dev-master -> no matching package found.
  Problem 2
    - egulias/email-validator 1.2.6 requires doctrine/lexer dev-master -> no matching package found.

[2014-12-15 16:45] kbond opened #41 "Email with ";" should be invalid (?)"
I got an exception from swiftmailer:

[code]

[2014-12-17 22:34] gondo opened #42 "SwiftMailer is throwing Swift_RfcComplianceException exception for emails what passed strict validation"
one of the example:

[code]

another one is #41 and i believe that there are other cases

error message: `Address in mailbox given [...] does not comply with RFC 2822, 3.6.2.`

[2014-12-18 10:56] #42 closed, assigned to nobody

[2015-01-04 16:48] egulias commented on #40
I'm still working on this. See http://www.doctrine-project.org/jira/browse/DCOM-264

[2015-01-04 19:23] Seldaek commented on #40
There are two different problems IMO:

@boobooking's issue is simply an issue of package stability, dev-master of doctrine/lexer isn't found becaues your minimum-stability is stable. If you require it explicitly in your composer.json then it'll start working. Or you can lower your minimum-stability to dev but that's probably not a good idea.

The other issue of @tubssp seems to be related to your

[2015-01-04 19:45] #41 closed

[2015-01-04 19:48] egulias commented on #40
Thanks @Seldaek for your response.
I was previously requiring `v1.0` but there's a change in `doctrine/lexer` that was needed for issuing my own modifiers for the lexer regex, so I turned it to dev-master, but I didn't knew composer's stability would affect on this.
Marco already answered on Twitter so I'll wait for him tagging so I can require a version number.
Again, thanks for helping :)

[2015-01-04 22:49] egulias commented on #40
@boobooking @tubssp please require version `1.2.7` should this be fixed. Thanks!

[2015-01-04 22:49] #40 closed

[2015-01-04 22:50] egulias commented on #30
@masakielastic I'll close this, please check version 1.2.7. If you find more issues, please create new ones.
Thanks!

[2015-01-04 22:50] #30 closed

[2015-01-04 22:56] egulias commented on #21
Hi @brianfreytag
please see https://github.com/egulias/EmailValidator/blob/master/tests/egulias/Tests/EmailValidator/EmailValidatorTest.php#L72
I'll close this. If you find any problem, please re open or open a new one with a failing test.

[2015-01-04 22:56] #21 closed

[2015-01-21 23:57] masakielastic opened #46 "Option for Spoofchecker"
Sorry for no-replying previous issue. How about adding options for using intl's [Spoofchecker](http://php.net/manual/en/class.spoofchecker.php) ([uspoof.h](http://icu-project.org/apiref/icu4c/uspoof_8h.html)) to prevent IDN homograph attack?

Gmail require Unicode [Highly Restricted](http://www.unicode.org/reports/tr39/#highly_restrictive) restriction level for that purpose ([Protecting Gmail in a

[2015-01-25 12:14] egulias commented on #46
Hi @masakielastic !
Thanks again for your comments. I'll check it in depth and see when to add it, since we can add the check before even parsing the email.

[2015-02-28 13:09] kcassam opened #51 "Feature request : make a sanitization filter"
Feature request : make a sanitization filter

For example, "ex@mple@tes t.com" would trim forbidden characters and result with "example@test.com"

[2015-02-28 13:18] henriquemoody commented on #51
But since `ex@mple@tes t.com` is an invalid email, why should you sanitize it?

[2015-02-28 13:24] kcassam commented on #51
To help find the correct email behind a typo mistake

[2015-02-28 13:37] henriquemoody commented on #51
As I see, the point on using validation over users' inputs is to tell them they typed wrong, them they can correct it.

Perhaps you have a very particular scenario like a legacy database with many wrong inputs, in this case maybe this feature makes sense, otherwise I don't see how should it works. Even thought, there is no guarantee you will fix it correctly, the best approach IMO is to notify the

[2015-02-28 16:34] kcassam commented on #51
Scenario : An smtp server. You do not control user input. For example, with Mail.app on iOS, you can send an email to 'ex@mple@tes t.com'

[2015-03-01 18:22] egulias commented on #51
You never know which were the intent of the user. In your example `ex@test.com`is as valid as `mple@test.com` or `tes@t.com`. So is better to inform the user and let the user decide.
Maybe you should validate emails before sending them to Mail.app in iOS and let the user correct it.
Thanks for requesting the feature @kcassam but the aim of the lib is to validate, sanitization falls out of it.
You

[2015-03-01 22:29] kcassam commented on #51
OK, thanks, I fully understand your point, I'll do that in my project https://github.com/kcassam/mailcheck

[2015-03-01 22:42] egulias commented on #51
Great!

[2015-03-01 22:42] #51 closed

[2015-03-01 22:45] egulias opened #52 "Expose invalid email reason"
Somehow expose why a given email is invalid.
This will probably mean throwing custom exceptions (a needed refactor anyway).
Original discussion #51

[2015-03-04 23:49] kcassam opened #53 "error in readme.md, usage, advanced example"
Should be (see // here!)

    use Egulias\EmailValidator\EmailValidator;

    $validator = new EmailValidator;
    $email = 'dominic@sayers.cc';
    $result = $validator->isValid($email);

    if ($result) {
        echo $email . ' is a valid email address';
    // here!
    }
    if ($validator->hasWarnings()) {
        echo 'Warning! ' . $email . ' has unusual/deprecated features (result code '

[2015-03-24 22:15] egulias commented on #53
Hi @kcassam sorry for my late response.
You are right, but if you modify like that, the `else` should go with the first `if`.
I'm thinking of improving the readme, by the way.

[2015-03-24 22:17] egulias opened #55 "Remove ASCII specific controls"
This line https://github.com/egulias/EmailValidator/blob/master/src/Egulias/EmailValidator/EmailLexer.php#L78 is there to make the tests pass regarding #18 but since UTF-8 is now supported and allowed by the RFCs, should be removed.

[2015-04-18 23:03] egulias opened #56 ""\"@domain or "test\"@domain are valid but treated as invalid"
See
* https://github.com/egulias/EmailValidator/blob/master/tests/egulias/Tests/EmailValidator/EmailValidatorTest.php#L92
* https://github.com/egulias/EmailValidator/blob/master/tests/egulias/Tests/EmailValidator/EmailValidatorTest.php#L98

[2015-04-22 16:28] SamBurns-awin opened #57 "Not validating use of special characters in domain correctly"
[code]
Expected result: false
Actual result: true

[2015-04-22 22:09] egulias commented on #57
Hi @SamBurns-awin thanks for reporting.
From your example, only chars `£` and `"` are invalid for a domain. I've added the tests, I'll release a fix asap.
The rest are "valid" in the broad definition given by [RFC 5322 - 3.4.1](http://www.rfcreader.com/#rfc5322_line710)

[2015-04-24 13:05] SamBurns-awin commented on #57
Thanks for your help @egulias :-)

[2015-04-26 15:39] egulias commented on #56
Misunderstood from my part

[2015-04-26 15:39] #56 closed

[2015-04-26 15:49] #55 closed

[2015-04-26 15:49] #57 closed

[2015-04-26 16:00] egulias commented on #57
@SamBurns-awin char `£` is UTF8 valid, thus initially valid for an email. I have to research some more through the RFC's to see if there's a restriction within the UTF8 chars that can be used.
If you happen to find this information, please let me know.

[2015-05-04 22:08] #12 closed

[2015-05-04 22:10] egulias opened #60 "Create custom exceptions"
Create `InvalidEmailException` as an interface and make custom exception for every case extending from it.

[2015-05-04 22:12] egulias opened #61 "Use custom exception message to be the error reported"
When an exception of type `InvalidEmailException`is catched, use the exception message (https://github.com/egulias/EmailValidator/blob/master/src/Egulias/EmailValidator/EmailValidator.php#L83) as the error reported.

[2015-05-04 22:22] egulias opened #62 "Change EmailValidator::isValid interface"
As a first approach, use the Strategy pattern so upon construction EmailValidator requires the strategies objects to be used for validation.
Strategies will be evaluated in an AND fashion. E.g
[code]
Right now `$this->lexer` is mutable, probably needs to be immutable so there's no riks while passing it around.
Should also define `ValidationStretegy::isValid` interface.
RFCs validation would be the

[2015-05-04 22:23] egulias opened #63 "Create CheckDNS strategy"
Implement the interface for checking DNS of the domain of an email

[2015-05-04 22:24] egulias opened #64 "Create NoWarnings strategy"
Strategy to make an email invalid if there are any warnings.

[2015-05-04 22:25] egulias opened #65 "Create Spoofcheker strategy"
See #46

[2015-05-04 22:26] egulias opened #66 "Custom Warnings"
Remove EmailValidator class constants and make them classes.

[2015-05-04 22:27] egulias opened #67 "Improve performance"
Right now the validator is around 12 times slower than `filter_var`.

[2015-05-04 22:29] egulias opened #68 "Make Parsers start from "scratch""
Currently localPart and domainPart parsers depend on the position where the lexer is when they start parsing.
They should 'lex' the string that they get, the caller is the responsible for knowing what is passing.
Check https://github.com/egulias/EmailValidator4J

[2015-05-17 20:36] cilefen opened #69 "Fix dos-type line endings in README and documenation"
README.md and files in documentation/* should have UNIX-type line endings.

[2015-05-18 21:52] cilefen commented on #69
Fixed by pull request #70.

[2015-05-18 21:52] #69 closed

[2015-06-22 21:49] egulias opened #71 "Upgrade php version"
Require latest from `5.5`

[2015-06-25 18:23] egulias opened #72 "Fallback to check A record in checkDNS"
If MX record does not exists, fall back tocheck A record

[2015-06-25 19:43] egulias commented on #71
Solved #73

[2015-06-25 19:43] #71 closed

[2015-06-25 19:56] egulias opened #74 "Backslash at any point of the domain part"
Backslash `\` are not valid at any point of the domain part. Currently are validated when are before GENERIC but not at the end of the end (http://tools.ietf.org/html/rfc5322#section-3.2.3).

[2015-06-27 12:51] sergeyklay opened #76 "Faster MX check"
Hi.

It seems may faster use `dig`.
For example:

[code]

[2015-06-27 13:03] 0x46616c6b commented on #76
Dig is not available on every server and usage of exec is not advisable.

[2015-06-27 13:14] sergeyklay commented on #76
just add gnu linux check

[2015-06-28 07:42] xabbuh commented on #76
This change would make it possible for a remote user to execute arbitrary commands on the server by just sending malformed e-mail addresses.

[2015-06-28 07:57] sergeyklay commented on #76
What kind _arbitrary_ commands you are mean?

[2015-06-28 10:23] 0x46616c6b commented on #76
`$domain = "google.com && rm -rf /var/www/* && google.com"` for example ;-)

[2015-06-28 11:50] sergeyklay commented on #76
it's just a task. no more

[code]

[2015-06-29 21:39] egulias commented on #76
Hi @sergeyklay
The usage of `exec`is generally not recommended except at your own risk when you are in control. As this lib is being used on major validation frameworks we are introducing a possible security risk.
On the other hand, an email as proposed by @0x46616c6b would fail even before reaching to the DNS check because of the domain part checking.
For the following reasons
1. `exec` introduce

[2015-06-29 21:39] #76 closed

[2015-08-05 06:41] boobooking opened #78 "email with cyrillic domain are marked as invalid"
Hi!

I suppose there is a problem with cyrillic domains.

This email marked as invalid but domain and email is ok
1500111@профи-инвест.рф
http://профи-инвест.рф

[2015-08-08 20:51] egulias commented on #78
Yes, can be. UTF'8 has to be improved. I'll add it as a test and see to fix it. Thanks for reporting.

[2015-09-15 09:00] borNfreee opened #79 "Difference between is_email() and this library for email '$@$#$#'"
Hi,

Why this email `$@$#$#` is valid for your library with strict mode

[code]
and is not valid with `is_email()` function?

[code]

Is it really a valid email address?

[2015-10-01 14:50] whyte624 opened #80 "Email considered valid with a closing parenthesis"
Example:
$email = "test@example.com)";
Validation gives true. Expected to be false.

[2015-10-02 22:57] egulias commented on #79
It is valid in a broad manner (those are valid ASCII chars), despite having invalid DNS chars.
The `strict` flag is to mark an email as invalid if there are any warnings, which might be the bug in this case.
I'll investigate on this to see why there are no warnings and if there should be.

[2015-10-12 09:42] #80 closed

[2015-10-12 09:42] #79 closed

[2015-10-12 10:06] egulias commented on #60
Merged to master

[2015-10-12 10:06] #60 closed

[2015-10-12 16:33] borNfreee commented on #79
@egulias could you please share your investigation details?

[2015-11-09 06:00] tommygnr opened #82 "Emails ending with a square bracket ']' are marked valid"
For example `foo@example.com]` is considered valid. If DNS checking is enabled it returns a warning

[2015-11-10 08:39] PiTiLeZarD opened #83 "What about Australia?"
Hi there,

I'm writing after using this module through Drupal 8. Emails in @something.com.au are marked invalid and it's kind of a big deal for us ;)

Do you think there's an easy fix to that? I didn't look into your code so far...

Thanks for your time.

[2015-11-11 02:41] egulias commented on #82
Thanks @tommygnr , will fix asap.

[2015-11-11 02:48] egulias commented on #83
Good point, and it is an important bug. Probably something to fix on the domain parser. Will check this asap.

[2015-11-11 02:57] egulias commented on #83
Hey @PiTiLeZarD can you please tell me the version you are using? I've run a tests with your bug and it is working properly (latest version is [1.2.10](https://github.com/egulias/EmailValidator/releases/tag/1.2.10))

[2015-11-11 03:28] #82 closed

[2015-11-11 03:29] egulias commented on #82
Thanks for reporting, see https://github.com/egulias/EmailValidator/releases/tag/1.2.11

[2015-11-25 10:23] PiTiLeZarD commented on #83
Hey egulias,

Hard to say, I'm using the one with drupal 8 rc2. The closest I got from figuring out the version was in the composer.json:

  "extra": {
    "branch-alias": {
      "dev-master": "2.0.x-dev"
    }
  },

I will update drupal first and then try an update on your lib see if it fixes it... I'm happy to hear it that its working in your version I'll try to match that!

Thanks for your ans

[2015-11-25 10:57] xabbuh commented on #83
@PiTiLeZarD You can see the installed package versions by running `composer show -i`.

[2015-11-26 00:25] PiTiLeZarD commented on #83
aHA! thanks for that:
egulias/email-validator           1.2.9              A library for validating emails

[2015-11-30 22:25] egulias commented on #83
Can you require `1.2.11` or greater and replicate the error? Test in the current versions are ok for this case.

[2016-01-12 14:47] eugenegp opened #85 "uft8 symbols in email address like være@mail.com is valid"
But Gmail mark it as invalid and also I get message in Swiftmailer
Address in mailbox given [være@mail.com] does not comply with RFC 2822, 3.6.2.

[2016-01-20 19:56] egulias commented on #85
Hi @eugenegp sorry for the delay.
If you check this issue (https://github.com/egulias/EmailValidator/issues/46) you will find useful information on Gmail email address validation.
Also until Swiftmailer 6, email address validations was done with complex RegExp that didn't allowed for UFT8 chars.
Please check RFC [6530](http://tools.ietf.org/html/rfc6530#section-4.6), [6531](http://tools.ietf.org/h

[2016-02-03 07:34] quentincurtet opened #86 "Compatibility PHP 7"
Hi,

In the context of a PHP migration, i want to know if this EmailValidator is compatible with PHP 7 or if it's planned.

Thanks for your answer.

Cordially.

[2016-02-03 12:12] xabbuh commented on #86
[Tests pass on Travis CI for the PHP 7 job](https://travis-ci.org/egulias/EmailValidator/jobs/90451922).

[2016-02-03 12:56] quentincurtet commented on #86
Thx !

[2016-02-03 12:56] #86 closed

[2016-02-03 17:19] jroussel commented on #85
Hello,

I'm also having trouble with email address such as "françois@test.com"
I'm using Symfony2 email validator with the "strict" option and this email is valid but SwiftMailer can not send email (same error message "Address in mailbox given [françois@test.com] does not comply with RFC 2822, 3.6.2.")

Is it something related or that can be solved?

Thank you!

[2016-02-03 19:53] egulias commented on #85
Hi @jroussel
the issue with SwiftMailer <=5 is that it uses RexExp to validate an email and it is not updated to allow URF8 chars in them. Starting SwiftMailer 6 it using this same library to validate the emails.

Hope this helps!

[2016-02-03 19:54] #85 closed

[2016-02-04 08:44] jroussel commented on #85
OK, thank you for this information
I will seee what I can do for this particular case until SwiftMailer 6

[2016-02-15 07:59] zeeshankhan81 opened #87 "Email not verified properly"
Steps to Reproduce:
1. Create a content type having email as one of the field.
2. Enter a invalid email such as "example@example".

It will validate it but it is not a valid email address.

PR https://github.com/egulias/EmailValidator/pull/88

[2016-02-16 19:49] egulias commented on #87
Hi @zeeshankhan81
"example@example" is a valid email.

[2016-02-18 22:43] #87 closed

[2016-03-14 18:33] natechicago commented on #20
@egulias I recently opened a similar issue -- https://github.com/symfony/symfony/issues/18156  -- on the Symfony side of things.  Would you mind providing your opinion regarding whether or not a change should be made in how Symfony uses your library (strict vs. non-strict mode)?

[2016-03-15 23:17] egulias commented on #20
Sure, thanks for caring.

[2016-04-04 09:48] radli opened #90 "warning: Illegal address syntax from example.com in RCPT command: <-notvalid@gmail.com>"
-notvalid@gmail.com
Should it be a valid e-mail?
I think it's a bug

[2016-04-05 05:59] egulias commented on #90
Yes, is a valid email. `-` is a valid character for email see http://www.rfcreader.com/#rfc2822_line526

[2016-04-05 05:59] #90 closed

[2016-04-06 17:28] nacc opened #91 "example.co.uk has a valid DNS record now :)"
Both Debian & Ubuntu packages of php-email-validator are failing automated tests because example.co.uk no longer issues a DNSWARN_NO_RECORD for getInvalidEmailsWIthWarnings(). Changing it to example3.co.uk passes the tests again, but that seems fragile.

[2016-04-06 17:40] oerdnj commented on #91
You know there's an RFC describing example domains and other for example IP and legacy-IP addresses.
The domain one is here: https://tools.ietf.org/html/rfc6761
Please make sure you use it when crafting tests...

[2016-04-14 18:17] rud-felix opened #92 "Invalid email is valid if strict: true"
Invalid email **email@gmail** is valid if **strict: true**
[code]

[2016-04-17 10:14] egulias commented on #92
Hi @rud-felix `email@gmail` is a valid email according to [RFC 5321 section 2.3.5](http://www.rfcreader.com/#rfc5321_line550)

[2016-04-17 10:14] #92 closed

[2016-04-24 06:50] ro0NL opened #93 "Proposal: Add EmailAddress value object"
Hi,

What do you think of a `EmailAddress` value object, to clearify;

[code]

I think this would be a useful addition to the library...

[2016-04-25 22:59] egulias commented on #91
Thanks!
I'm rewriting tests for v2, I'll backport them to v1.2 also.

[2016-04-28 22:02] egulias commented on #93
Hi @ro0NL
Nice proposal, thanks for taking the time.
How would you manage warnings? Something like `$email->getWarnings()`?
What do you think of
`$email = new EmailAddress('Alias+metadata', 'domain.COM', new EmailValidator([new RFCValidation()]));`? (I'm thinking of v2 of the lib here).

I don't fully agree with `$email->normalize()->getHost();`
What about
[code]
and the same for `Local` ? So we h

[2016-04-28 23:02] #66 closed

[2016-04-29 07:45] ro0NL commented on #93
@egulias

` new EmailValidator([new RFCValidation()])`

I like it :) This is also being discussed at symfony for their `EmailValidator`, calling it profiles (https://github.com/symfony/symfony/pull/18428), maybe you can collaborate to speed things up, i.e. your v2 lib could then simplify the symfony email validator a lot.
___

`$email = new EmailAddress('Alias+metadata', 'domain.COM', new EmailVal

[2016-04-29 13:24] ro0NL commented on #93
About naming..i alwast thought it was;
[code]
and therefor the correct keyword should be `hostname`, however im reading some specs now which is pretty confusing :) but i think `domain` will do just fine and is probably correct anyway :/ as long as its consistent.

[2016-04-29 21:03] egulias commented on #11
It is now a different constant on the corresponding error class. See PR for #66

[2016-04-29 21:03] #11 closed

[2016-04-29 21:04] egulias commented on #72
Closed by #94

[2016-04-29 21:04] #72 closed

[2016-04-30 10:30] egulias commented on #61
Done, see #95

[2016-04-30 10:30] #61 closed

[2016-04-30 10:36] #62 closed

[2016-04-30 10:58] egulias opened #97 "Improve top-level domain warning"
Right now this warning is pretty useless, it needs to be improved within the DomainPart parser.

[2016-04-30 12:02] #63 closed

[2016-04-30 14:04] #64 closed

[2016-04-30 20:21] ro0NL opened #101 "Proposal: 2.0 API"
Hi,

I forked your lib today as I was planning to investigate it for #93. I think before adding new features, some core components need to be improved first, api-wise, and imho of course ;-) I saw you already did some work on errors & warnings. I'm talking `master` here.
## The `Lexer`

I don't want to discuss any implementation/spec details here, im not an email expert nor a lexer expert. As its

[2016-04-30 20:32] ro0NL commented on #101
Btw.. if the domain part is valid you can assume the local part is too right? I.e. what about replacing `explode` with `$localPart = substr($email, 0, strrpos('@', $email));`. However im not sure we should bypass the lexer.. it seems rather logical as domains cant contain a @ sign...

[2016-04-30 20:57] ro0NL commented on #101
Seriously #68.. that should indeed be fixed :') also checking the java api a bit now which indeed sets the input in all parsers :+1: but also doesnt allow for getLocalPart.

[2016-05-02 14:36] ro0NL commented on #101
As proposed in #102; I think we need to parse an AST (Abstract Syntax Tree) for the given input string. This way we have full control on whatsoever (basicly formatting & validating).

However, im not an email spec expert nor a lexer expert, BUT, i think your parser really differs from https://github.com/dominicsayers/isemail. Especially on the quoted string and comment parts, as far as i can see d

[2016-05-02 14:39] egulias commented on #101
Hi @ro0NL ! (you got me commenting on your initial proposal, will comment on other about the new ones :) )
## The Lexer
We could probably find one that will give us an AST to parse, insted of just "tokens" so I wouldn't discard this as part of a rewrite.

## EmailParser

Yep, it is a little crap :). Issue here is that the (Doctrine) lexer won't give you the lexed text (as the one I did for the Jav

[2016-05-02 14:40] egulias commented on #101
Not necesarly. I think we agree here not to bypass the lexer.

[2016-05-02 14:47] ro0NL commented on #101
I think the main parser should use a control structure like [dominicsayers](https://github.com/dominicsayers/isemail/blob/master/is_email.php#L231) version, i.e.

[code]
This would increase readability a lot and allows for better maintenance, bugfixes, features etc.

Real complex stuff can always be moved to separated classes, but i really like the single while here (i.e. full email parser). How t

[2016-05-02 14:56] egulias commented on #101
Would you mind creating a different thread for the AST discussion?

Regarding the control structure, if you check dominic's implementation, it is a nightmare to follow (I had to read it to translate it). So I'd rather try to find a different approach if we find current one more complex to follow. Bringing an AST will not improve performance, but legibility (and to be less difficult to make the val

[2016-05-02 17:05] ro0NL commented on #101
Will work on the AST proposal tomorrow. However i think #18 is the "real" issue here that i like to see fixed, ideal _using an AST parser_. Getting the indivudual parts as even correctly could be real added value (e.g. formatting an address.. yay :)). If not we should just improve the validation, again according to #18.

Could you explain me a bit about difference between lexers and parsers, or at

[2016-05-02 17:15] ro0NL commented on #101
The whole idea is to grab it yourself right? I did a little testing yesterday already for quoted text and comments https://github.com/egulias/EmailValidator/compare/master...ro0NL:feature/parser-ast however it feels a bit hacked in :) therefor my proposal.

[2016-05-02 22:18] egulias commented on #101
Wow, lots of things @ro0NL !
Just to clarify #18, AFAIK the last missing parts (or differences) are warnings, not missing valid/invalid emails (you can check all the "iana" emails on the test). So yes, dominic's does more :). When I built the lib the intention was to port the validation part, not the informative one (the one that points you to the exact part of the RFC).
Now that the lib is more m

[2016-05-02 22:28] egulias opened #103 "[RFC] - isValid V2 interface"
Hi there!
[v2](https://github.com/egulias/EmailValidator/milestones/v2.0.0) is almost here.
I've implemented a first approach for `isValid` method [here](https://github.com/egulias/EmailValidator/blob/master/src/Egulias/EmailValidator/EmailValidator.php#L35) which is
[code]
The idea here is to allow different types of validations by implementing `EmailValidation` interface.

**I'll let open the pr

[2016-05-02 22:30] egulias commented on #101
BTW I just opened #103
Mainly because we can work on the internal parts without affecting the public API.
If we come with a nice AST and we want to pass that to the validators, we can bump another major version.

[2016-05-07 15:03] egulias commented on #101
See #104

[2016-05-09 21:57] egulias commented on #18
I'm now closing the issue since all of the "invalid" emails pass the test with the new API.
Please open a new one with the specific failures and I'll work on them.
PR welcome :)
Thanks for caring!

[2016-05-09 21:57] #18 closed

[2016-05-09 21:58] egulias commented on #46
Closed by #100

[2016-05-09 21:58] #46 closed

[2016-05-10 17:02] #65 closed

[2016-05-10 17:02] egulias commented on #52
Done for v2!

[2016-05-10 17:02] #52 closed

[2016-05-10 17:03] egulias commented on #53
Please see #106

[2016-05-10 17:03] #53 closed

[2016-05-10 17:05] egulias commented on #91
Moved them for v2. I'll close the issue when backported for v1.2

[2016-05-14 23:10] #91 closed

[2016-05-15 09:56] #74 closed

[2016-05-15 09:57] #27 closed

[2016-05-15 10:05] egulias commented on #83
Closes as it is resolved by the following patch versions.

[2016-05-15 10:05] #83 closed

[2016-05-15 10:06] #78 closed

[2016-05-15 10:06] egulias commented on #78
Added tests to proof that is currently working.

[2016-05-18 22:20] #103 closed

[2016-06-01 21:47] heikokrebs opened #114 "Bad Mail verified?"
I have a problem with Inputs like ```'info@test.com'``` or ```info@test.com'``` - note the apostrophes.

These are not valid mail addresses?

[2016-06-02 21:28] egulias commented on #114
They are valid, probably with warnings. Which version are you using? V2 tests pass with both emails.

[2016-06-04 21:38] heikokrebs commented on #114
@egulias i am using v1.2
But are such mail really valid? I tested some mail services and all didnt send them, gave me an error.

[2016-06-06 23:56] egulias commented on #114
They are indeed rare, so it really depends on the mail service. You can use `isValid("email", false, true)` which **will not** check DNS and **will** return false if there is at least one warning, making those emails be "invalid"

[2016-06-23 11:13] issei-m opened #118 "[RFC] Separation of the src and tests directory"
As in 2.0, began to use PSR-4 autoload.
So src (namespaced `Egulias\EmailValidator`) and tests (namespaced `Egulias\Tests`) directory can be separated each other.
As more benefit, we will don't need register test codes in production environment anymore.

[2016-06-24 16:34] issei-m commented on #118
@xabbuh So I see. Actually, I could not auto load `Egulias\Tests\*`. Sorry 😭

[2016-06-24 16:34] #118 closed

[2016-06-25 03:49] cilefen opened #121 "Add EmailValidatorInterface in 2.x"
See #120

[2016-07-03 21:53] #114 closed

[2016-07-16 21:35] egulias commented on #121
Hi @cilefen
I was wondering, why is not enough with `https://github.com/egulias/EmailValidator/blob/master/EmailValidator/Validation/EmailValidation.php` interface? There you can implement and use your very own validation. Would be like having your own validation within the validator.

[2016-07-16 22:02] cilefen commented on #121
That sounds very interesting. I updated the Drupal issue about this feature.

[2016-07-29 20:44] egulias opened #125 "Use EmailLexer::class sintax for retrieveng class FQCN in Tests"
E.g https://github.com/egulias/EmailValidator/blob/master/Tests/EmailValidator/Validation/MultipleValidationWitAndTest.php#L16

[2016-08-15 20:07] bradchesney79 opened #128 "Suggests ext/php-intl has no direct install as it doesn't exist"
Proper syntax is:
"ext-intl": "*"

[2016-08-15 22:24] #128 closed

[2016-08-24 19:50] HKandulla opened #129 "E-Mails with german Umlaute"
Hi, I am using EmailValidator (1.2) as part of a Symfony project. EmailValidator accepts emails with german Umlaute like (hannes.möller@gmail.com) but Swiftmailer throws an exception when used as recipient. Is this a bug on EmailValidator or Swiftmailer?
Thanks, Hannes

[2016-08-24 20:53] HKandulla commented on #129
Ok. After reading up on this, I understand that this is a bug in SwiftMailer and will only be fixed in the upcomming 6th. version which uses EmailValidator ~2.0.

[2016-08-24 20:53] #129 closed

[2016-08-24 20:55] egulias commented on #129
Hi @HKandulla I was just to answer you that same thing :)

[2016-08-25 07:26] HKandulla commented on #129
Hi @egulias, thanks for responding and big thanks for all your work! I will go with this [quickfix](https://github.com/symfony/symfony/issues/19359) in the meantime.

[2016-08-25 12:27] dereuromark commented on #125
:+1:

[2016-08-25 12:43] dereuromark opened #130 "Improve documentation"
For those not too experienced with what SpoofCheck or NoRfcWarning would actually do, and what the pitfalls or possible false positives could be, it can be rather confusing.
Each validator is a bit under-documented at the moment.
It would be good to have a small human readable paragraph to each of them either in the readme or some dedicated documentation.

[2016-08-25 22:03] egulias commented on #130
Yes, I agree.
BTW, do you think cakephp could benefit from this validator?

[2016-08-25 22:24] dereuromark commented on #130
As a plugin i would definitly say so.
Unfortunately my Tests so far very false positive.
An invalid Email got marked as valid with this tool.

[2016-08-25 22:35] egulias commented on #130
Would you mind providing those false positives to improve the lib?

[2016-08-27 13:39] dereuromark commented on #130
Maybe we can discuss that via email? Don't want to publish those here. You can find mine on my profil/blog etc. Thanks!

[2016-08-31 22:17] egulias opened #131 "Email existence validation"
As a validation that checks for the existence of a given mailbox, not just the availability of the server to respond to SMTP request. E.g https://github.com/elliotttf/valid-mails

[2016-09-07 12:30] imranhaitechnologies opened #132 "( ! ) Fatal error: Class 'Egulias\EmailValidator\EmailValidator' not found in G:\wamp\www\EmailValidator\index.php on line 8"
( ! ) Fatal error: Class 'Egulias\EmailValidator\EmailValidator' not found in G:\wamp\www\EmailValidator\index.php on line 8

Hi,
I've download the project in WAMP from Git Shell command. And getting the above error.

I am using the following code:

<?php

use Egulias\EmailValidator\EmailValidator;
use Egulias\EmailValidator\Validation\DNSCheckValidation;
use Egulias\EmailValidator\Validation\Mult

[2016-09-07 13:34] issei-m commented on #132
In PHP, classes won't be loaded automatically even though you declare them in "use" clause as long as you don't use either "require" or "autoloader".
You should use Composer to install this library: https://github.com/egulias/EmailValidator#requirements

[2016-09-20 17:12] havvg opened #133 "Valid email with quoted local-part marked invalid"
An email address with quoted string in the `local-part` evaluates as invalid, if it contains an `@`.

For example: `"foo@bar"@example.com` is a valid email address, where `foo@bar@example.com` is not, as the `local-part` is not quoting the special characters.

[2016-09-29 01:15] issei-m commented on #133
It's about v1.2? v2.0 or later seems not to be so, since it has a [test case for that](https://github.com/issei-m/EmailValidator/blob/03917146de523f4ccd4164a9b57c965f160556f4/Tests/EmailValidator/Validation/RFCValidationTest.php#L87-L87).

[2016-09-29 05:09] havvg commented on #133
I see. We are using `^2.1`. Switching from `Egulias\EmailValidator\Validation\NoRFCWarningsValidation` to `Egulias\EmailValidator\Validation\RFCValidation` makes this case working.

Thank you :)

[2016-09-29 05:09] #133 closed

[2016-10-03 17:09] egulias commented on #133
Hi,
That's because a warning is triggered for that case and you were using a
stricter validation.
Cheers,

El 29/9/2016 7:09 a. m., "Toni Uebernickel" <notifications@github.com>
escribió:

[2016-11-14 03:05] issei-m commented on #132
@egulias This is not lib's problem. So I think this can be closed.

[2016-11-14 21:50] egulias commented on #132
Thanks for the reminder.

[2016-11-14 21:50] #132 closed

[2017-01-30 21:46] egulias opened #138 "Port DNS checkfix"
See https://github.com/egulias/EmailValidator/pull/137

[2017-02-01 09:03] LeShadow commented on #138
@egulias I made the backporting PR here: #140

[2017-02-06 08:52] LeShadow commented on #138
@egulias maybe this issue can be closed? :-)

[2017-02-06 23:15] egulias commented on #138
Of course!

[2017-02-06 23:15] #138 closed

[2017-02-15 13:48] AHKKK opened #141 "Fatal error: Class 'Egulias\EmailValidator\EmailValidator' not found in"
Hello,

I am trying to run your code on my local MAC OSX machine using MAMP from last 3 days but unable to run.
What i did is create a directory in public_html and install composer.
After installing compose i run following command
`php composer require egulias/email-validator "~2.1"`
 Which install one folder name **vendor**

After that i download your code and paste in same directory.
after i cre

[2017-02-15 15:12] issei-m commented on #141
You should import autoloader what composer created, first of all.

[code]

[2017-02-15 15:49] AHKKK commented on #141
Hello,
Thanks for help and its working but the issue is its showing 1 on every email address like
if i use this line
echo $validator->isValid("example@example.com", new RFCValidation()); //true
This will print 1
echo $validator->isValid("example111111@example11111.com", new RFCValidation()); //true
this will also print 1

how to test email that its correct or wrong like if email actually exist ?

[2017-02-15 21:44] xabbuh commented on #141
This library doesn't perform such a check. It only checks if the syntax of the given string cookies with the specification regarding the structure of an email address. If you want to make sure that an address does actually exist, you need to send a test mail.

[2017-02-15 22:49] egulias commented on #141
Hello @AHKKK
You can use the library without composer if you create a PSR-4 or PSR-0 type autoloader.
Also please remember that printing the boolean value `true` in PHP will print `1`, and not `true`.
`isValid` returns boolean `false` when the email is invalid. Both of your tests are valid emails. Try to use the emails provided in the tests suite for examples of invalid emails.
A sample code
[code

[2017-02-15 22:49] #141 closed

[2017-03-01 20:53] ctf0 opened #142 "Class 'Spoofchecker' not found"
[code]

PHP 7.1.2
OSX 10.11.6

[2017-03-01 21:06] xabbuh commented on #142
It looks like you are missing the Intl extension (see #143 for an attempt to improve the error message for those cases).

[2017-03-01 21:29] ctf0 commented on #142
installed it and restarted the server, but error still presist

[2017-03-02 05:51] issei-m commented on #142
@ctf0 Could you write your `php -i` results and stack trace of error here?

[2017-03-02 15:29] jdespatis opened #144 "Email with ü are valid according to EmailValidator but are refused according to RFC 2822"
Hello

I'm able to valid successfully the email jürgen@foobar.de, but I get an exception when I try to send mail to this address, I get "Address in mailbox given [jürgen@foobar.de] does not comply with RFC 2822, 3.6.2."

I've used the code `$validator->isValid("jürgen@foobar.de", new RFCValidation())` to validate the email

So I guess that EmailValidator should not validate this email?
Or maybe I

[2017-03-02 18:01] jdespatis commented on #144
According to https://github.com/swiftmailer/swiftmailer/issues/419, it seems that `jürgen@foobar.de` is a valid mail, but is not currently supported by last tag of swiftmailer (5.4.6), it seems to only be supported by the master branch

Waiting for swiftmailer to support those emails (EmailValidator is integrated in swiftmailer@master), I add some regex to refuse valid international emails for now

[2017-03-03 02:51] ctf0 commented on #142
@issei-m
[code]

however for some reason, i re-tested and am not getting any more errors 😱

[2017-03-03 02:52] #142 closed

[2017-03-04 10:11] egulias commented on #144
Hi @jdespatis , that's correct, Swiftmailer has EmailValidator integrated only in master (future v6).
You can try to require master branch for Swiftmailer, however I'm not sure how stable it is.

[2017-03-07 15:19] jdespatis commented on #144
Gonna wait for a stable v6 then, as it's for a production

Thanks @egulias for your work

[2017-03-10 17:22] egulias commented on #144
I hope v6 is tagged soon.
:smile:

[2017-03-10 17:22] #144 closed

[2017-03-25 17:45] murilolobato opened #145 "Why diactrics are considered valid in Emails?"
Why diactris and characters as 'ç' are considered valid? If not even Gmail let us create accounts with those special characters?

[2017-03-26 20:44] egulias commented on #145
Because of RFC [RFC 6530](http://www.rfcreader.com/#rfc6530) which allows for non ASCII characters.

[2017-03-29 13:16] murilolobato commented on #145
Ok, but when using Symfony standard edition, out-of-box, SwiftMailer fails to send messages to emails with special characters.

Also, even my real app that uses sendgrid can't accomplish to send a email with a special char.

And I was wondering, is email with diactrics or special characters a thing? Maybe we could have another Validation based on other RFC's prior to RFC6530.

[2017-04-03 23:12] egulias commented on #145
SwiftMailer 6 uses this very same validator (however is taking a bit until released, but you can check master branch). So at some point you'd have the same validation in both.
You can switch to use a "normal" RegExp via configuration.

You have Russian emails as an example. Or any other Easter Europe country. Also Asian ones.

[2017-04-09 01:27] vudaltsov opened #146 "Invalid class name in ExpectingQPair.php"
The file name is `ExpectINGQPair.php` and the class name is `ExpectEDQPair`

[2017-04-09 19:19] murilolobato commented on #145
I think the validation provided by this library is great, also RegExp validation is a option for me. And I'm using it now.

New version of SwiftMailer is stuck in development for years.

My point here, was to see if it is of interest of other people to create a new validation strategy limited to RFC 2822, so this library would work out of the box with the current SwiftMailer version bundled with S

[2017-04-12 22:46] egulias commented on #146
Thanks for reporting.

[2017-04-12 22:51] egulias commented on #145
Looks like a good idea to me.  SwiftMailer incompatibility has been a major pain point for years.

However we should find a way to avoid renaming the main validation as it would mean a "major" releases (API change), something like having both `RFCValidation` and `RFC6530Validation extends RFCValidation`  could work.

[2017-04-16 21:36] arasmit2453 opened #148 "Validation returns true but the email is invalid"
Test this email: xxxríxxxx@hotmail.com (that is not the complete email but see that the "í" is an invalid character for an email)

[2017-04-18 21:11] egulias commented on #148
Per [REFC 6530 Section 7.1](https://tools.ietf.org/html/rfc6530#section-7.1), latin (and other) alphabets are allowed in the email local and domain parts.
Thanks.

[2017-04-18 21:11] #148 closed

[2017-05-04 01:48] edhgoose opened #150 "Reusing an EmailValidator instance in strict mode fails valid emails"
I've discovered that if you "reuse" an email validator with strict mode, then the warnings are never cleared. This means that if you get one invalid email and reuse the validator, all the subsequent emails that pass through the validator will in turn be marked as invalid.

We're using Symfony 2.8 (and therefore tied to v1.2) which doesn't reuse the validator as far as I can tell and therefore is n

[2017-05-06 09:13] egulias commented on #150
Thanks for the report @edhgoose .

[2017-05-16 05:41] 2ndGAB commented on #130
@dereuromark Are you implementing it as CakePHP plugin?

[2017-06-03 15:13] skynet commented on #131
Are you actually working on this? Most (paid) validation services do check with SMTP server for each email address.

example: https://mailboxlayer.com/

[2017-06-03 17:50] egulias commented on #131
Hi @skynet  ,
Not currently working on it. The aim of this lib is on the format side. It also allows you not to depend on a third party external paid api for validating format.
I'll do my best to find some time to do it, but I cannot promise anything as the 2nd baby is on it's way :)

However I'd be more than happy to review & merge a PR with the functionality if you interested in adding it.

[2017-06-30 10:05] joaonice opened #151 "Validate emails with tilde (ã)"
Email containing a tilde character (ã) are valid. Is this correct?

[2017-07-04 01:36] skynet commented on #131
Congrats for your baby!

mailboxlayer.com is a joke. They fail to detect mailboxes that do not exist, although they claim that their system does that.

[2017-07-04 12:30] egulias commented on #151
Hi @joaonice ,
It is valid for the extended [RFC6531](https://tools.ietf.org/html/rfc6531). For the standard one, it is not.
In V2 of the validator you can extend to crete an  RFC5321 validator if you wish.

[2017-07-04 12:31] egulias commented on #145
Swiftmailer V6 now uses this email validator V2.

[2017-07-04 12:31] #145 closed

[2017-07-04 12:31] #20 closed

[2017-07-04 12:32] egulias commented on #101
Deprecated. V2 has been launched.

[2017-07-04 12:32] #101 closed

[2017-07-04 13:34] joaonice commented on #151
Hi @egulias. Ok, I'll try the V2 and do that.

Thank you.

[2017-07-04 13:34] #151 closed

[2017-08-16 08:56] jwvhoek opened #152 "Email addresses with domain containing closing bracket are considered valid"
We found out that email addresses with a domain part which contains a closing bracket and no opening bracket is considered valid while it is not. We are using version 2.1.2.

I created this unit test which illustrates the unexpected behavior:
[code]

[2017-08-19 22:28] MojoCreator commented on #131
Any progress on this enhancement to check for existence of email on server?

[2017-08-20 21:32] egulias commented on #131
Hi @MojoCreator , no sorry. I'll start on it as soon as I can.
Happy to review PR if you are willing to collaborate.

[2017-08-30 11:12] ssnatu opened #153 "Class 'Doctrine\\Common\\Lexer\\AbstractLexer' not found in /var/www/html/new/swift/EmailValidator/EmailValidator/EmailLexer.php on line 7"
I want to send email using swiftmailer for that I've installed swiftmailer (git clone https://github.com/swiftmailer/swiftmailer.git)
I also installed EmailValidator (git clone https://github.com/egulias/EmailValidator.git)

But, I'm getting the error **Class 'Doctrine\\Common\\Lexer\\AbstractLexer** not found in EmailLexer.php on line 7.
To solve this, I'd installed lexer (git clone https://githu

[2017-08-30 13:30] xabbuh commented on #153
As said in swiftmailer/swiftmailer#943 you need to manually set up your autoloader if you insist on not using Composer. This has nothing to do with the email validation package.

[2017-08-30 15:13] ssnatu commented on #153
@xabbuh Could you please tell me how to set up autoloader manually? Thanks

[2017-08-30 21:29] egulias commented on #153
Hi @ssnatu
please refer to any online material for that.

[2017-08-30 21:29] #153 closed

[2017-08-31 16:17] ssnatu commented on #153
Thanks @egulias but, I didn't find any helpful material for how to configure autoloader manually or how to use swiftmailer without composer.

[2017-08-31 16:20] ssnatu commented on #153
@egulias Also please tell me autoloader means which autoloader. Is that composer.json file that comes with swiftmailer folder?

[2017-08-31 20:42] xabbuh commented on #153
Writing a custom autoloader is no common task. If you want to that, will have to do some investigation in your own. Find out how to drive a filename from a fully qualified class name. Testing about the PSR-0 and PSR-4 standard recommendations may help you with that.

[2017-09-01 10:20] ssnatu commented on #153
Thanks @xabbuh, I'll try to figure out this. Thanks again.

[2017-10-17 16:36] jaikdean opened #154 "HTML link-style appends to email addresses are considered valid"
Appending `?Subject=foo` is a common way for HTML `mailto:` links to open a blank email with the subject line prefilled. It looks like the domain validation accepts email addresses with these strings appended.

[code]

This was tested with 2.1.2 and the latest master.

[2017-12-13 23:59] JrIndie opened #160 "[QUESTION] How can I use this product without using composer/autoloader?"
I know this is not supported officially, and is silly, and goes against the grain.  However, I really dont want to use composer, or autoloader.  I am on a local system and want to get emailing confirmation links and what not working to test my framework... however, I can not find any php mailer that is just a simple require and go ready...  The best I can find is swiftmailer, and that uses EmailVa

[2017-12-14 01:33] JrIndie commented on #160
using PHPMailer, it supports SMTP and can be setup very easy.

[code]

Thanks.  Sorry.

[2017-12-14 01:33] #160 closed

[2018-01-03 16:19] ebuildy opened #161 "Why email like "toto@k.__c" is valid?"
A small script:

[code]

Gives

[code]

HTML5 validator is saying also that ``toto@lsdkjfkldsjf.__com`` is wrong.

[2018-01-05 23:04] egulias commented on #161
Hi @ebuildy
Thanks for reporting. ´toto@lsdkjfkldsjf.__com´ is RFC 5322 compliant *however* it contains domain characters that are not allowed by DNS.
So basically it is "valid" because of the specification but it is not valid accding to  DNS specification.

Would you consider this a bug or a feature :) ?

[2018-01-06 10:24] ebuildy commented on #161
Ho I see.

Any way, I used a regexp validator in top of your to handle this situation.

As a suggestion, I would recommend to have a mode that act like the HTML 5 validator, so front and back have the same behavior.

[2018-01-08 00:09] egulias commented on #161
Hi,
You could also use something similar to https://github.com/egulias/EmailValidator#available-validations and implement an "OR" validation, with one of them being your implementation of the HTML5 regex.

[2018-01-17 09:56] sparxbpoit commented on #131
respond issue

[2018-03-15 13:11] obivan86 opened #164 "Why is 'invalid@email' is valid email? It isn't valid email address"

[2018-03-15 16:03] issei-m commented on #164
I think the host name `email` is valid (a host name is not necessarily needed to be specified over the internet, i.e. local network), thus the mail your mentioned can be valid.
Meanwhile, you can also validate the email is correct to be delivered messages practically using DNS checking which validates whether the host is referenced over the internet, and `DNSCheckValidation` implements that.

[2018-03-15 16:18] issei-m commented on #164
Seems duplicating with https://github.com/egulias/EmailValidator/issues/161

[2018-04-09 15:46] sylfabre opened #165 "hello@gmail.ffr is valid"
`hello@gmail.ffr` is valid but should not as `ffr` is not a valid TLD.

You may use this list https://github.com/umpirsky/tld-list to check for the tld.

[2018-04-11 09:05] pachico commented on #165
It, however, could be a valid host name.
I guess it depends on the checker you want to apply.
If `ffr` is not a valid TLD then you won't get a valid DNS check result, but it shouldn't be flagged as invalid by how it's composed.

[2018-04-11 12:19] sylfabre commented on #165
Ok I understand your point.

But 99% of use cases are just classic checks for classic websites. It's like the `{` in the local part: it's allowed according to the RFC but I do not know any single person using this char in an email address.

A DNS check will detect the invalid TLD it but this validation is slow as it requires a network action.

=> A `CommonUseCaseValidation` would be useful :)

[2018-04-11 14:55] pachico commented on #165
Correct, I think the validation as it is is correct, however, a `NonLocalEmailChecker`ish could be useful.

[2018-04-11 21:17] egulias commented on #165
Hi both,
For DNS validation (which would be more reliable than a static list) you couls use the provides [DNSValidation](https://github.com/egulias/EmailValidator/blob/master/EmailValidator/Validation/DNSCheckValidation.php)

Howere I think your thoughts are on the lines of #167 ?
As I commented there I'm not sure such validation to be within the scope of the library. However, the somewhat broader

[2018-04-11 23:20] Saibamen opened #168 "[Insight] Unused use statement should be avoided - in EmailValidator/Parser/LocalPart.php, line 8"
**[in EmailValidator/Parser/LocalPart.php, line 8](https://github.com/egulias/EmailValidator/blob/19811e00829958f06d9bfbfeb0d0e6b7aaff3767/EmailValidator/Parser/LocalPart.php#L8)**

[code]

---------------------

_Posted from [SensioLabsInsight](https://insight.sensiolabs.com/projects/22ba6692-9c02-42e5-a65d-1c5696bfffc6/analyses/31)_

[2018-04-11 23:20] Saibamen opened #169 "[Insight] Unused use statement should be avoided - in …/MultipleValidationWithAnd.php, line 6"
**[in EmailValidator/Validation/MultipleValidationWithAnd.php, line 6](https://github.com/egulias/EmailValidator/blob/19811e00829958f06d9bfbfeb0d0e6b7aaff3767/EmailValidator/Validation/MultipleValidationWithAnd.php#L6)**

[code]

---------------------

_Posted from [SensioLabsInsight](https://insight.sensiolabs.com/projects/22ba6692-9c02-42e5-a65d-1c5696bfffc6/analyses/31)_

[2018-04-11 23:20] Saibamen opened #170 "[Insight] Interfaces names should end with &quot;Interface&quot; - in EmailValidator/…/EmailValidation.php, line 8"
**[in EmailValidator/Validation/EmailValidation.php, line 8](https://github.com/egulias/EmailValidator/blob/19811e00829958f06d9bfbfeb0d0e6b7aaff3767/EmailValidator/Validation/EmailValidation.php#L8)**

[code]

---------------------

_Posted from [SensioLabsInsight](https://insight.sensiolabs.com/projects/22ba6692-9c02-42e5-a65d-1c5696bfffc6/analyses/31)_

[2018-04-12 07:09] pachico commented on #165
Hi, I guess there's not a unique solution for this. I personally see the value of complying to RFC and I wouldn't change it.
(People shouldn't assume that local domain names don't have dots).

[2018-04-12 14:58] sylfabre commented on #165
In the end I mostly care about user experience in real world usage.

As a user, if I buy a plane ticket and forgot the dot of `@gmail.com` when registering I'm happy to hear that this wrong email complies with some RFC but I would rather expect the service to check for this missing dot instead of having trouble to receive my ticket ...

So yes DNS validation is a solution but it's a slow one where

[2018-04-12 14:58] #165 closed

[2018-04-13 21:19] #170 closed, assigned to nobody

[2018-04-15 20:32] Saibamen commented on #170
@egulias: so please ignore this issue on SensioLabsInsight

[2018-05-01 15:08] brockfanning commented on #131
Just posting a relevant project that seems to work for this purpose: https://github.com/hbattat/verifyEmail

[2018-05-15 10:17] egulias commented on #131
Sorry for the late response. I agree with @brockfanning  and @Laurent3170 . There´s still interest but, for now, I'll close the enhancement due to the commented drawbacks.
Thanks all for your comments.

[2018-05-15 10:17] #131 closed

[2018-06-19 08:36] 1ed opened #171 "BC break in a patch release"
There is a BC break in the 2.1.4 release https://github.com/egulias/EmailValidator/commit/8790f594151ca6a2010c6218e09d96df67173ad3#r29413290

This broke or production code because it requires intl and it was not required before. That should be reflected in composer.json.

[2018-06-30 12:31] Developerayo commented on #169
#Fixed https://github.com/Developerayo/EmailValidator

[2018-07-01 20:40] egulias commented on #169
Please make a PR then!
Thanks!

[2018-08-13 09:17] tomsommer commented on #171
This also breaks systems which does not support INTL_IDNA_VARIANT_UTS46, I opened #173 for this

[2018-08-14 09:21] tomsommer opened #176 "Feature request: Check for active mailserver on domain"
It would be nice with a Validator that tried to open a SMTP-connection to the possible MX's (in order) or A record on the domain, to make sure there is actually an active mailserver on the other end.

[2018-08-16 20:51] #67 closed

[2018-08-25 14:05] ohartl opened #177 "Using polyfill for ext-intl if"
As I stated before in #175 it could be problematic to just disable functionality when the extension is not available on the system. (We had the problem after upgrading from 2.1.4 to 2.1.5.)

Using a polyfill like https://github.com/symfony/polyfill-intl-icu could make this package work out of the box and still use the original functions from ext-intl if available. The suggestion for ext-intl in th

[2018-09-24 11:14] ampaze commented on #161
I would say the real question is:
What is the real world usage of an email address validator?
Is it to have unusable email addresses be flagged as valid or is it to catch unusable email addresses as early as possible?

What about a RealWorldValidation class? With saner domain checks?
Doing DNS lookups as a fallback is not always possible.

[2018-09-26 00:10] shakaran commented on #176
@tomsommer @egulias A simple proposal example that could help to resolve this:

[code]
This only needs to be adapted to the proper part of code where the validation is done.

[2018-10-24 14:15] msphn opened #181 "Part extraction issue"
The following message is separating parts incorrectly:
[code]

According to rfc3696 @ is allowed if quoted or wrapped in double quotes.

Examples:
`Abc\@def@example.com`
`"Abc@def"@example.com`

[2018-10-28 20:56] egulias commented on #181
You're right @msphn :) . This code was a simplification to extract the parts, it has a lot of place for improvement.

[2018-10-29 08:33] msphn commented on #181
@egulias I did same in the past :) Most of the time it works fine.

[2018-11-01 15:54] rrjanbiah opened #183 "SMTP based validation"
Only an idea: May plug https://github.com/webdigi/SMTP-Based-Email-Validation

[2018-11-03 21:51] egulias commented on #183
Relates to #176

[2018-11-07 21:23] AnyFullStackApps opened #184 "rafal.musial@neetb4fravel.com is not valid?"

[2018-11-19 09:42] EtienneDh opened #185 "A domain containing an hyphen is rejected."
Mails containing an hyphen (such as etienne@test-ko.com) are not validated resulting in a 'No domain part' error.

[2018-11-27 14:31] stefanotorresi opened #186 "Unclear documentation about targeted RFC."
Hello there,

It is unclear to me what RFC is being targeted here. From a glance at the code, it looks like 5321/5322 are the reference.
If that's the case, why are non-ASCII characters allowed in the local-part of the address when using the provided `RFCValidation` class? Those are only permitted by 6531.
Or am I missing something?

[2018-11-28 09:03] ywcdiao opened #187 "Why email like "abc‐xxx@domain.com" is valid?"
I am using version 1.2.15.

`$result = $emailValidator->isValid('abc‐xxx@domain.com', false, true);`

Here "‐" is not a normal hyphen "-". This email should be invalid, but the $result returns true.

Is this a bug?

[2018-12-03 08:43] dmlogic opened #188 "Enforce a TLD when checking?"
Hi

We've recently moved over to this library from native `filter_var($email,FILTER_VALIDATE_EMAIL)` in order to allow certain types of valid email that were failing.

This has given us a new problem - emails without a TLD are passing validation whereas they did not before. I fully understand why this is the case, but I'm wondering if there is an option to "enforce TLD" or at least generate a warn

[2018-12-03 10:20] egulias commented on #187
Hi @ywcdiao!
What kind of hyphen are you using? I see no difference, maybe you can share the unicode code? Are you passing in the string the invalid type of hyphen? Maybe you have to encode/decode the hypen?

[2018-12-03 10:34] egulias commented on #186
Hi @stefanotorresi !
Yes, it was not stated. Just did a push with the information: https://github.com/egulias/EmailValidator/blob/master/README.md#suported-rfcs

[2018-12-03 10:40] stefanotorresi commented on #186
Thanks for the update!

Would you be interested in a PR that proposes different validation classes for different RFCs? My main use-case is that I'd like to validate against just 5321/5322, not 6531; i.e. the validator wouldn't allow non-ASCII characters. I think it should be easy enough to add some more warnings to the parser, what do you think?

[2018-12-03 13:47] dmlogic commented on #188
I'm not clear when/where it would be approprate to call `addTLDWarnings()` other than at the end of `doParseDomainLiteral()`. That method won't run unless [`hasBrackets()`](https://github.com/egulias/EmailValidator/blob/master/EmailValidator/Parser/DomainPart.php#L157) returns true, which it does not for a value such as "me@localhost".

Sorry if I'm missing something obvious - this is the first ti

[2018-12-04 22:35] egulias commented on #188
Sorry, my bad.

To add a TLD warning, the parser needs to do something along the lines:
1) parse untill the end of the domain part.
2) test that there where no ´Dot-string´: Atom *("."  Atom) [(see RFC 5321:4.1.2)](https://tools.ietf.org/html/rfc5321#section-4.1.2)
3) add TLD warning.

Where is wrong the parser right now:
A) ´addTLDWarnings´ is assuming it only has to add it when there's a domain

[2018-12-04 22:59] egulias commented on #186
Would be interesting of course.
However adding warnings for the sake of the different RFC's would clutter the code.
Also you need to check for other restrictions (e.g does RFC5321/5322 allow for comments? parenthesis? ) besides the ASCII ones.

For ASCII alone we could do something like:

1. Make [`EmailLexer`](https://github.com/egulias/EmailValidator/blob/master/EmailValidator/EmailLexer.php) an

[2019-01-15 10:28] oskar-wikinggruppen opened #189 "INTL_IDNA_VARIANT_2003 is deprecated"
See #173

Since INTL_IDNA_VARIANT_2003 is deprecated in PHP 7.2, `idn_to_ascii` should be called without explicitly setting `$variant` (let `idn_to_ascii` use its default value)

You only need to pass the `$domain` parameter.

[2019-01-15 13:54] #189 closed, assigned to nobody

[2019-01-16 18:56] arena94 commented on #186
Hello,
I am not a specialist but i think it would be very usefull for any basic delopper (like me) to have three levels of RFCValidation

- RFC282x for basic email adresses
- RFC532x
- RFC653x  => SMTPUTF8 support mandatory

Regards and Happy New Year

[2019-01-21 09:38] desertjinn opened #191 "Composer - Warning: Ambiguous class resolution :: Due to multiple classes defined with identical namespace"
[code]

Checking the file
`vendor/egulias/email-validator/EmailValidator/Validation/Exception/EmptyValidationList.php`
against
`vendor/egulias/email-validator/EmailValidator/EmailValidator/Validation/Exception/EmptyValidationList.php`
it appears the *namespace* defined in both files are the same -
`Egulias\EmailValidator\Validation\Exception`
causing composer.phar to throw warnings on install.

[2019-01-21 10:23] desertjinn commented on #191
This appears to be a local issue with the installation folder.

There was an extra *EmailValidator* folder within the **vendor/egulias/email-validator/EmailValidator** directory with the same structure and files as **vendor/egulias/email-validator/EmailValidator**.

Removing the additional *EmailValidator* folder from **vendor/egulias/email-validator/EmailValidator** resolved the Composer warnings

[2019-01-21 10:23] #191 closed

[2019-03-09 08:35] #93 closed

[2019-03-24 17:09] kironet opened #192 "[Question] Validate full email - not only domain"
Hi,

I'm new to this bundle and I'd like to know if there is a possibility to validate a full email address not only domain.

Example:

valid email: kironet@mydomain.com
not valid email: kironet123@mydomain.com

This is my implementation of this bundle.

[code]

Now it's making every email inside "mydomain.com" as a valid one so kironet123@mydomain.com will be accepted.

[2019-04-16 14:10] kskrlin commented on #36
Laravel Framework (5.8.*) uses this package to validate email adresses.

Email validation doesn't fail when email contains spaces:
"test @ example .com", but fails here "test@example. com".

If it was fixed 2014, why this bug still exists?

[2019-04-16 14:44] robertjarec commented on #36
Why do all of these appear as valid?

' @example.com'
'###@example.com'
'$šte/-{st+email#@example.com'

[2019-04-17 22:04] egulias commented on #36
Hi @kskrlin

For what I can see, the bug was related to the local part (`test `), not to the domain part (`example. com`). In the unit tests you can find similar examples
* `user  name@example.com` https://github.com/egulias/EmailValidator/blob/master/Tests/EmailValidator/Validation/RFCValidationTest.php#L123
* `username@ example .com` https://github.com/egulias/EmailValidator/blob/master/Tests/Em

[2019-04-17 22:14] egulias commented on #36
Hi @robertjarec
Plese see:
* ` @example.com` it is an invalid email and there's a test for that: https://github.com/egulias/EmailValidator/blob/master/Tests/EmailValidator/Validation/RFCValidationTest.php#L184
* `###@example.com` is a valid email, being `#` a valid ASCII char (printable) even in the older RFCs.
* `$šte/-{st+email#@example.com` I'd say is valid from an RFC point of view. However I

[2019-04-17 22:22] egulias opened #195 "Add support for name-addr (RFC 5322)"
Requested in #193  by @jrchamp
Relevant RFC section https://tools.ietf.org/html/rfc5322#section-3.4

[2019-04-17 22:23] #186 closed

[2019-04-17 22:24] #121 closed

[2019-04-25 14:17] szepeviktor opened #196 "Email *address*"
Could you emphasize that it is an email **address** validator at several places?

PHP Email validator library -> PHP Email address validator library

[2019-04-25 15:03] issei-m commented on #196
Pull Request is always welcome :)

[2019-04-25 15:27] szepeviktor commented on #196
This needs to be set by hand

![kép](https://user-images.githubusercontent.com/952007/56748076-76041f80-677f-11e9-9821-e899380c39dc.png)

[2019-04-26 06:28] issei-m commented on #196
I see.

[2019-05-10 16:47] egulias commented on #196
Hi @szepeviktor , sorry for the delay. You mean emphasizing the addres part because of lack of validation in other regards of emails, like mailbox #194 ? Which other are you missing?

[2019-05-10 16:57] szepeviktor commented on #196
I think email means the message itself. Mailbox is a collection of messages, and email address is just an address.

[2019-05-13 22:28] jfinstrom commented on #187
http://www.codetable.net/decimal/8208

[2019-05-16 20:42] egulias commented on #187
Then which is the difference?

[2019-05-16 20:48] egulias commented on #196
Well, you have a point there :). Truth is that now one has ever pointed that out. Will do I guess.
Thanks!

[2019-05-16 20:49] egulias commented on #196
Done :)

[2019-05-16 20:49] #196 closed

[2019-05-16 21:07] szepeviktor commented on #196
Thank you.

[2019-05-16 22:02] #146 closed

[2019-05-16 22:09] szepeviktor commented on #146
Fixed!!

[2019-06-11 16:08] rrjanbiah commented on #183
FWIW, looks like someone already implemented it in another fork https://github.com/IvanLutokhin/EmailValidator/commit/124c00ba5cdd6753366530c1935bdb4eddb58ec7 (There is a typo for `HELO`)

[2019-06-12 09:02] GertjanBrouwer opened #201 "Emailadress Herr@ is valid"
When validating the emailaddress `Herr@ ` it returns valid. Notice the space after the @-sign.

[2019-06-19 09:25] rolinbos commented on #201
I noticed this as well.

[2019-06-21 08:28] Tamrael opened #202 "EmailLexar not following RFC"
in the file EmailValidator/EmailValidator/EmailLexer.php

on line 43 the comment states that this should validate against http://tools.ietf.org/html/rfc5322#section-3.2.3 but that rfc includes ' as invalid character which your array does not include.

[2019-06-21 08:30] #202 closed

[2019-06-23 10:22] egulias commented on #201
Thanks for reporting.
Please see https://github.com/egulias/EmailValidator/commit/128cc721d771ec2c46ce59698f4ca42b73f71b25

Released in v2.1.9

[2019-06-23 10:22] #201 closed

[2019-07-29 16:38] jdavidbakr opened #205 ""example@ com" is returning valid"
I had a strange email get through my validation and have tracked it down to this validator letting it through.  To duplicate:

[code]

I even checked some other more radical values and these also pass:

[code]

[2019-07-29 16:40] jdavidbakr commented on #205
BTW, I'm running version 2.1.10

[2019-07-29 20:28] egulias commented on #205
Hi @jdavidbakr
- `example@thisisnotavaliddomain` is a valid domain (with no TLD) https://github.com/egulias/EmailValidator/blob/master/Tests/EmailValidator/Validation/RFCValidationTest.php#L78
- `example @ why-is-this-validating` and `example@ com` are valid but have warnings, see this test (despite the name): https://github.com/egulias/EmailValidator/blob/master/Tests/EmailValidator/Validation/RF

[2019-07-29 21:09] jdavidbakr commented on #205
Ok, thanks.  I am using Laravel and obviously they are using this validation under the hood.  I'll look into seeing what they're recommendations are for shoring up this.

[2019-08-09 13:52] RTC1 commented on #205
@jdavidbakr  - How did you proceed?

We've found user.name @gmail.com is validating in Laravel 5.8.

[2019-08-09 21:09] jdavidbakr commented on #205
@RTC1 I haven't actually implemented a fix yet.  I did raise the issue in laravel.io forums here https://laravel.io/forum/email-validation-passing-emails-that-are-not-sendable and right now probably will attempt to extend the test as Tobias von Beek suggested.  Once this gets to the top of my to-do list I may make a package for it.  It sounds like it needs to be handled at the Laravel level, I als

[2019-08-10 09:38] haid45 opened #208 "version 2.1.10 causing timeouts"
After days of diagnoses, I have finally been able to pin point that the latest update is causing timeouts whilst laravel attempts to send mail without throwing any errors or exceptions

[2019-08-10 20:17] egulias commented on #208
Hi @haid45 ,
Thanks for reporting. Would you mind providing more information like with which emails the timeout happens (so I can replicate in a failing test)? Does using a previous version solves the problem (to know since when the bug has been introduced)?
I'll appreciate this information to be able to help you.

[2019-08-12 20:50] egulias opened #210 "Move to PHP 7.x via a major version bump."
For context, see #209
Features to add
* #190
* #194

Review #193

[2019-08-14 03:27] pavarnos opened #211 "SplObjectStorage not found"
Trying to track down a weird issue running symfony/mailer in a background (supervisord) task.

About 1 in 100 jobs fail with this stack trace
[code]

The weird thing is,
* SplObjectStorage is definitely there (I checked a couple of different ways)
* it is intermittent: the other 99  are fine

Wondered if you have seen anything like this before?
You are welcome to close the ticket if you think it i

[2019-08-21 08:23] arcaela opened #212 "E_NOTICE Array offset Laravel 5.8"
ErrorException thrown with message "Trying to access array offset on value of type null"
/homepages/31/d750175303/htdocs/app/vendor/egulias/email-validator/EmailValidator/Parser/Parser.php:147

[2019-08-21 18:44] RTC1 commented on #205
https://laravel-news.com/laravel-5-8-33

[2019-08-22 16:07] nestesitio opened #213 "Composer update for Laravel 5.8 failed on 2.1.10 => 2.1.11"
Package operations: 0 installs, 6 updates, 0 removals
  - Updating egulias/email-validator (2.1.10 => 2.1.11): The following exception is caused by a lack of memory or swap, or not having swap configured
Check https://getcomposer.org/doc/articles/troubleshooting.md#proc-open-fork-failed-errors for details

PHP Warning:  proc_open(): fork failed - Cannot allocate memory in phar:///usr/local/bin/com

[2019-08-23 16:07] Nacoma opened #214 ""test@example.com [any@thing@here]" passes RFCValidation"
[code]

These addresses are parsed into:

[code]
by the email parser and pass using the `RFCValidation` validator.

The `NoRFCWarningsValidation` validator does reject this.

[2019-09-02 12:03] driesvints commented on #212
Currently happening in the 7.4 build: https://travis-ci.org/laravel/framework/jobs/579764601

[2019-09-02 12:06] driesvints commented on #212
This was fixed by https://github.com/egulias/EmailValidator/pull/203 apparently

[2019-09-02 16:51] SignpostMarv commented on #211
this was possibly picked up in #190 @ a502159b101380a2de8507c0cc67d177fe23cfa3, as it seems it wasn't being used for it's intended purpose.

[2019-09-02 20:19] pavarnos commented on #211
thanks!

[2019-09-02 20:19] #211 closed

[2019-09-06 07:40] tpetry opened #215 "email addresses with single quote should not be valid"
An email address like `test@example.com'` is not valid but still passes the `RFCValidation` and `NoRFCWarningsValidation` checks

[2019-10-15 08:04] michilehr opened #217 "E-Mail with space before hyphen passes RFCValidation"
An email address with a space before hyphen in the local part passes the RFCValidation.

Example: firstname -lastname@gmail.com

[2019-11-25 17:03] kslr opened #218 "[Idea] TLD list check"
http://data.iana.org/TLD/tlds-alpha-by-domain.txt

RFS, Spoof allows as For example "000invaliddomain.local".
The checkdnsrr function will time out, and we need to avoid this problem.

[code]

[code]

[2019-11-29 23:12] #218 closed

[2019-12-30 09:42] GrahamCampbell commented on #213
@egulias This can be closed. Not related to this package.

[2020-01-02 12:02] #125 closed

[2020-01-03 16:09] dimitriseguin1 opened #232 "EmailLexer and RFC 5322"
EmailLexer use RFC-5322 to find out what character to forbid in the local-part.

But US-ASCII has not accent characters. Would it be relevant to add these special characters?

[2020-01-05 13:46] egulias commented on #232
Hi Dimitri. You can add a US-ASCII only validator with the AND join to disallow those characters.
The question is whether the emails you are treating are USA only (English only for that matter) or have a wider scope.

[2020-01-05 13:46] #232 closed

[2020-01-05 14:09] #213 closed

[2020-01-05 14:36] egulias commented on #215
It should have triggered a warning. Marked as a bug.

[2020-01-05 15:44] #212 closed

[2020-01-06 08:05] dimitriseguin1 commented on #232
But it's not US emails, it will be French emails so you have to forbid all accents. It's better to make a custom validator with the same mechanics and an AND ?

[2020-01-08 08:51] egulias commented on #232
I assumed eng because of the need to avoid accents. Yes, best option is to create `ASCIIOnlyValidator` and evaluate if any charachter in the string passed as argument to is not ascii and then use https://github.com/egulias/EmailValidator/blob/master/EmailValidator/Validation/MultipleValidationWithAnd.php

[2020-01-08 08:53] egulias commented on #214
Hi @Nacoma , you are right, this is a bug. Thanks for reporting.

[2020-01-08 08:55] #205 closed

[2020-01-08 09:08] #208 closed

[2020-01-08 09:08] #184 closed

[2020-01-08 09:09] #68 closed

[2020-01-08 09:10] #97 closed

[2020-01-08 09:11] #164 closed

[2020-01-20 21:41] #168 closed

[2020-01-20 23:01] GrahamCampbell commented on #169
This can be closed now?

[2020-01-20 23:02] GrahamCampbell commented on #177
This issue needs re-opening. Was not fixed by #190. The spoofchecker part of the extension is not pollyfilled, as stated in https://github.com/egulias/EmailValidator/pull/231.

[2020-01-21 15:27] #169 closed

[2020-01-21 15:27] egulias commented on #169
Solved.

[2020-02-11 04:57] bobrundle opened #234 "Hard crash in PHP 7.4"
Validating any email address in PHP 7.4 raises exception "Trying to access array offset on value of type null" in Parser.php at line 147

        if ($previous['type'] === EmailLexer::S_BACKSLASH

This is result of $previous being null for first character in string and new PHP 7.4 behavior "Trying to use values of type null, bool, int, float or resource as an array (such as $null["key"]) will now

[2020-02-12 22:20] egulias commented on #234
See #228

[2020-02-12 22:20] #234 closed

[2020-02-13 12:20] georgringer commented on #181
`"Abc@def"@example.com` seems to be valid in latest version, FYI

[2020-02-17 19:03] nizamani opened #235 "DNSCheckValidation returning valid true for email "0""
Class Egulias\EmailValidator\Validation\DNSCheckValidation is returning email "0" as valid email, for some reason DNS check is passing when email is "0", I perform validation check using following code:

`$isEmailValid = $dnsCheckValidation->isValid($email, new EmailLexer());`

In above example $isEmailValid is returned as true and "0" becomes a valid email address.

**Edited on 10:51 2/20/2020 (G

[2020-02-26 17:11] henrydennis-sonin opened #236 "Strict Length Validation for Local is valid when split by numbers"
Using the laravel form validation set to strict mode we are coming accross an issue with length checking.

It seems like numbers chars are acting as a divider causing the the second half to validate successfully as it's then under the char limit.

**Case 1**
aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa@example.com
Expected: Invalid
Result: Invalid

**Case 2**
a5aaaaaaaaaaaaaaa

[2020-03-02 02:03] Mo-0hammed opened #238 "email is available"
When I check my email is available
But this gives me true
Supposed gives me false because it is available
My code:
[code]

[2020-03-02 21:46] egulias commented on #238
Hi!
Gives ´true´ because your email is valid && DNS records exists.
´DNSCheckValidation´ returns ´true´ for valid ones.

[2020-03-02 21:50] egulias commented on #236
Hi @henrydennis-sonin , thanks for reporting.
Tha's a weird bug!
Would you mind submitting a failing unit test with the second case please?

[2020-03-02 23:35] Mo-0hammed commented on #238
Which means cancel DNSCheckValidation ?

[2020-03-03 09:20] henrydennis-sonin commented on #236
Hey @egulias. Just looked at creating the test. Unfortunatly I cannot replicate the failing issue through unit tests. Perhaps it is an issue with laravel's integration.

[2020-03-11 18:30] Kifir22 opened #239 "Why email bla@example.com+bla is valid?"

[2020-03-14 21:21] marmichalski commented on #236
I believe this has been fixed in: https://github.com/egulias/EmailValidator/pull/233/files

[2020-03-30 10:11] rimbaborne commented on #234
thankz

[2020-04-03 22:48] spenwall commented on #217
I am getting the same thing with a period instead of a hyphen.

example firstname .lastname@gmail.com

It produces the warning: `Folding whites space followed by folding white space`

[2020-05-07 12:48] olek07 commented on #239
asdfghg@t~online.de, tssdfsdfs @ gmx.de, dfdfd@gmx# are also valid. WTF?

[2020-05-11 11:14] postme opened #240 "DNSCheckValidation returning true for non-existent MX domains"
`dig MX nonexistent.domain`

No response, as expected. confirming this is a non-existing domain.

[code]
Returns true

[code]

Returns true

[2020-05-11 11:50] #240 closed

[2020-05-12 13:48] ilazaridis commented on #239
even whatever@gmail is valid. :/

[2020-05-26 23:02] GeneralisAblon commented on #234
366644

[2020-05-26 23:02] GeneralisAblon commented on #234
thankz

[2020-05-28 07:28] MukeshSriTech9 opened #241 "Why email 'autoap@tech1com' is valid ?"
This library includes such email as valid which is not.

A simple `filter_var("autoap@tech1com", FILTER_VALIDATE_EMAIL)` returns false for this value.
This library being directly mapped to Symfony 3.4 for strict RFC validation is causing problems for email validation.

A similar value is also mentioned as valid email in `https://github.com/egulias/EmailValidator/blob/master/Tests/EmailValidator/Va

[2020-06-07 22:07] egulias commented on #238
Thanks for yout patience.
Why should the result be false?

[2020-06-09 13:42] webdevilopers commented on #129
Hello @HKandulla ,
I recently started using this lib for Symfony 5. And emails e.g. "daniel.brödje@gmail.com" are still valid.
We use *^2.1* and `symfony/swiftmailer-bundle` *^3.4*.

Can you reference any issue on this on the swiftmailer project?

[2020-06-09 13:52] webdevilopers commented on #129
Sorry, it looks like I was misunderstanding the original ticket. It seems as if emails e.g. "daniel.brödje@gmail.com" are indeed regarded valid?

AFAIK umlauts are allowed in the domain name but I was not aware of them being accepted inside the email address itself. Can anybody confirm this?

[2020-06-09 13:54] webdevilopers commented on #129
Just found this:

* https://en.wikipedia.org/wiki/International_email#Email_addresses

[2020-06-11 22:27] Nacoma commented on #241
https://en.wikipedia.org/wiki/Email_address

[2020-06-12 16:10] Nacoma commented on #238
Are you thinking that it will tell you if the individual email address is a valid/existing email address? The DNSCheckValidation is only checking that the host portion is valid/exists.

[2020-06-16 20:06] egulias commented on #129
Hello @webdevilopers ,
that's correct. According to [RFC6530](https://tools.ietf.org/html/rfc6530) emails can have UTF-8 chars in the body.

[2020-06-17 05:34] remicollet opened #243 "Version 1.2.18 tagged from master branch"
Looks like a bad tag...

Shouldn't this be a **2.1.18**, not a 1.2.18 ?

[2020-06-17 05:35] remicollet commented on #243
@siwinski FYI

[2020-06-17 06:28] egulias commented on #243
Yes, you were right. Removed and retagged.
Thanks!

[2020-06-17 06:28] #243 closed

[2020-06-17 08:51] rainerkraftmb opened #245 "Release 1.2.18 is breaking"
Release 1.2.18 seems to be a mistake (tracking v2.*) and breaks v1.*

[2020-06-17 09:28] mlocati commented on #243
The tag is still there, breaking all sites that use version 1... See https://github.com/egulias/EmailValidator/releases/tag/1.2.18 and https://packagist.org/packages/egulias/email-validator#1.2.18

[2020-06-17 09:56] mlocati commented on #243
PS: it should be enough to run `git push origin :refs/tags/1.2.18` to delete the tag on GitHub, which should trigger an update on Packagist.

[2020-06-17 10:19] mlocati commented on #245
See also https://github.com/egulias/EmailValidator/issues/243

[2020-06-17 10:24] rainerkraftmb commented on #245
As @mlocati mentions in #243, the release was removed but the tag is still there and still breaking v1 uses.

[2020-06-17 10:35] egulias commented on #245
On it.

[2020-06-17 10:36] mlocati commented on #241
`autoap@tech1com` *is* a valid email address. See https://github.com/egulias/EmailValidator/issues/205#issuecomment-516149398

[2020-06-17 10:37] mlocati commented on #239
`whatever@gmail` *is* a valid email address. See https://github.com/egulias/EmailValidator/issues/205#issuecomment-516149398

[2020-06-17 10:37] egulias commented on #245
Gone and done.
Thanks for reporting!

[2020-06-17 10:37] #245 closed

[2020-06-17 10:40] mlocati commented on #238
It's not possible to determine if an email address actually exists.
What can be done (and can be done by using this EmailValidator project) is:

1. check that an email address is syntactically correct
2. the domain (the part after the `@`) is associated to a valid MX DNS record, meaning that there should be a mail server that handles these emails

[2020-06-17 10:43] mlocati commented on #245
https://packagist.org/packages/egulias/email-validator#1.2.18 seems to be still there: you may need to log in into packagist and delete that tag (simply by going to https://packagist.org/packages/egulias/email-validator and click the `X` near the wrong tag)

[2020-06-17 11:24] egulias commented on #245
Good lord!
Thanks @mlocati , removed from there too.

[2020-06-19 20:54] 949mac opened #246 "Will gmail and/or other mailhosts block my ip?"
Hello -

Should I consider the need for a proxy or rate-limiting? Do you know if anyone has been blacklisted for using this package in high-volume situations?

My initial test is ~30,000 emails. But I have a list of 450,000 that I would like to clean up

Thanks again! Beautiful package, and super easy to use.

[2020-06-19 21:01] egulias commented on #246
Hi @949mac ,
I'm glad you liked it!
The only moment the package does a call outside is for DNS validation and I'm not aware of rate limiting. However that is beyond the package responsibility.
So if you are only validating emails without DNS check you should be fine.

[2020-06-21 22:54] #246 closed

[2020-06-22 17:21] rrjanbiah opened #247 "Disposable email validation"
Only an idea. Can 'connect' https://github.com/ivolo/disposable-email-domains (This is regularly updated and so no need to duplicate it)

[2020-06-22 17:23] rrjanbiah opened #248 "Catch-all validation"
Only an idea. Trumail has used some nice trick to validate catch-all address https://github.com/trumail/trumail/blob/master/verifier/deliverabler.go#L193 (May check their website demo)

[2020-06-22 17:31] rrjanbiah commented on #239
FWIW, single validation is not sufficient. Mailbox validation (https://github.com/egulias/EmailValidator/pull/194) is close, but still will wrongly reject corporate business email addresses

[2020-07-09 09:54] BenHarris opened #249 "DNS Validation Issue"
I hit an issue today where the DNS validation wasn't working. It looks like there is a bug in alpine Linux (I was using the php:7.4-fpm-alpine docker image), which means checkdnsrr returns true even if the domain doesn't exist. See the bug reports below:

- https://bugs.php.net/bug.php?id=78008
- https://gitlab.alpinelinux.org/alpine/aports/-/issues/7392

Whilst I appreciate this is not a bug in t

[2020-07-09 14:29] BenHarris commented on #249
Another benefit to this approach would be handling the "Null MX" case [RFC 7505](https://tools.ietf.org/html/rfc7505).

`checkdnsrr('example.com.', 'MX')` returns `bool(true)` as the MX record exists. As there is no target, it should be considered invalid and return false. `dns_get_record()` returns the DNS records, so we can simply validate that a) there is an MX record and b) it is a valid recor

[2020-07-20 13:37] egulias commented on #249
Hi @BenHarris ,
Thanks for informing about this issue.
I see the benefits you state and i'd be a great improvement for that validation.
I encourage you to do the change and send a PR ;), I will be more than happy to review and merge.

Looking forward to that PR!

[2020-07-20 13:38] egulias commented on #249
I'll do the port to V3.

[2020-07-20 13:53] egulias commented on #248
Hi!
While they would be worrisome for sure, they are probably semantically correct. The lib is for validating the address composition, not for spam check or similar features.
With this information, do you think I'd still make sense the feature on the EmailValidator?

[2020-07-20 13:56] egulias commented on #247
Thanks for sahring. It is not the porpouse of the validator check email hosts validity or if they are spam but to check if the address is semantically correct.
You can still add a validator by implementing the interface to have this within your project.

[2020-07-20 13:56] #247 closed

[2020-07-20 18:45] rrjanbiah commented on #248
@egulias Up to you. But, I believe EmailValidator is doing more than RFC semantic validation.

[2020-07-23 13:39] koraykupe opened #253 "Pipe character is allowed"
Hi,

I use RFC validation only, but it accepts | character in the local part.

e.g: `test|local@domain.com`

Why? Is it allowed regarding the RFCs indeed?

[2020-07-23 21:43] egulias commented on #253
Hello @koraykupe ,
Yes, it is indeed allowed. RFC allows for any ASCII printable char (plus UTF-8 in following updates). See https://tools.ietf.org/html/rfc5322#section-3.2.3

[2020-07-23 21:43] #253 closed

[2020-08-09 09:21] phil-davis opened #254 "New release after 2.1.18 is 2.19.0"
The release does have some new validation in it, so it might have been 2.2.0 or 2.1.19

I guess this was an accidental error, numbering the release 2.19.0

It is too late now, and does not do any harm - 2.2.* 2.3.* through 2.18.* will just never exist.

I have raised this issue just to point this out, and so that when making the next release someone will continue the numbering from here - 2.19.1..

[2020-08-09 10:27] egulias commented on #254
Hi @phil-davis , thanks for reporting. I'll create 2.1.19 as it is the right numbering.

[2020-08-09 10:31] egulias commented on #254
Created https://github.com/egulias/EmailValidator/releases/tag/2.1.19 and noted in 2.19.0

[2020-08-09 10:42] phil-davis commented on #254
@egulias there is still 2.19.0, so when I (or anyone) does an ordinary `composer update` they get 2.19.0

If 2.19.0 stays there, then future releases will need to be tagged 2.19.1 or 2.20.0 so that people actually get the upgrade.

I am not sure what you should do about this. It has only been 12 hours or so that 2.19.0 has been tagged - maybe nobody has actually made use of it yet (i.e. maybe it i

[2020-08-09 10:44] egulias commented on #254
I thought I could run away with just creating 2.1.19 as per ~2.1 type of thing. I'll have to delete the tag and the version. On it.
Thanks!

[2020-08-09 10:47] phil-davis commented on #254
Yeh, most people have something like `^2.0` in their `composer.json` which will automagically suck in the latest minor+patch of major version 2.

[2020-08-09 10:49] egulias commented on #254
Done.

[2020-08-09 10:52] #254 closed

[2020-08-09 10:52] phil-davis commented on #254
@egulias you might have to manually delete from packagist.
https://github.com/composer/packagist/issues/213

[2020-08-09 10:53] egulias commented on #254
🤦‍♂️ I need to automate this...
Done.
Thanks for your help.

[2020-08-09 10:58] phil-davis commented on #254
Success:
[code]

[2020-08-12 08:19] Ekman opened #255 "Update readme "example.com""
The second example in the readme is using a "@example.com", which is no longer valid when using DNS validation. I don't know what alternative topdomain to use, hence no PR.

Feedback for the future: Your latest release makes "@example.com" domains invalid using DNS validation. It's a backwards incompatible change that should have been released in a [major version change and not patch version](http

[2020-08-15 13:17] egulias commented on #255
Hi @Ekman , thanks for pointing that out.
It is true that @example.com is no longer valid, as the DNS validation got an improvement to do a better job. This means that @example.com has always been _invalid_ for that matter.
For that reason it was released as a patch and not a minor version (no new feature added).

So you are right, the example is wrong. If you look at the tests changes from #250 y

[2020-08-15 13:20] egulias commented on #248
@rrjanbiah I'd like to understand your point of view. Could you please elaborate?

[2020-08-18 07:00] rrjanbiah commented on #248
@egulias In PHP, this is the most popular package. It has more than RFC semantic validation. So, IM*H*O, below are still valid candidates:

* Catch-all #248
* Disposable email #247
* SMTP or mailbox #183

[2020-08-19 07:13] marliotto opened #256 "dns_get_record(): DNS Query failed"
[code]

I got "Warning: dns_get_record(): DNS Query failed".

I suggest add @ to dns_get_record() in https://github.com/egulias/EmailValidator/blob/840d5603eb84cc81a6a0382adac3293e57c1c64c/src/Validation/DNSCheckValidation.php#L121

My environment:
- Windows 10
- PHP 7.3.12 (cli) (built: Nov 19 2019 13:58:02) ( ZTS MSVC15 (Visual C++ 2017) x64 )

[2020-08-19 15:31] bkosborne opened #257 "INTL_IDNA_VARIANT_2003 is deprecated since PHP 7.2"
Can this project be modified to not rely on this deprecated constant? See the [list of PHP 7.2 deprecations](https://www.php.net/manual/en/migration72.deprecated.php) for more info.

Someone already reported this in #189 but closed it for some reason.

[2020-08-19 21:37] clemir commented on #256
Similarly I get "PHP Warning:  dns_get_record(): A temporary server error occurred." When it validates `dns_get_record('fjks.com', DNS_MX + DNS_A + DNS_AAAA);`

[2020-08-28 15:55] fdelapena commented on #161
For the record, another couple of real cases found while sending passed the check (called from Swift Mailer) then making postfix complaining:

[code]

[2020-08-29 12:50] egulias commented on #257
Hi @bkosborne , thanks for pointing iy out. I think the previous went unnoticed becase the owner closed it.
I'll makr this one for the next version of the lib (WPI). The reason is that v2.x has to be compatible with PHP5.5.
If the replacement is available in those version then the change could be done earlier.

[2020-08-29 12:52] egulias commented on #256
Hi @clemir  is yout env windows also?
Suppressing the error would be last resort, since it invalidates the whole DNS validation.

[2020-08-29 12:54] egulias commented on #256
@marliotto in your case the question is if that domain even exist :). The fact that the query fails for an invented domain is valid, as it is actually going out to look for DNS servers

[2020-08-31 08:01] sfilzek commented on #256
Hi, sorry to jump in on this, but I've just noticed that I'm getting failures from the same point. Happening on Windows/php 7.2.11 and Ubuntu/php 7.4.7

eg:

`$dnsRecords = dns_get_record("green.com", DNS_MX + DNS_A + DNS_AAAA); `

It seems that dns_get_record is actually raising a warning when it gets a SERVFAIL instead of returning false?

[2020-08-31 13:48] clemir commented on #256
Hi @egulias!

No. it's Ubuntu 18.04 and PHP 7.4.8

I'm using Laravel and I resolved the error creating a custom DNSCheckValidation class that catches the exception in order to return false in that case

[2020-09-02 13:43] tpetry opened #258 "DNS validation succeeds for missing mx records"
The email address `xxx@icluod.com` (transposed `o` and `u`) passes dns validations, but in my opinion it should not. The dns validation recognizes that the `icluod.com` domain has an `A` record but no `MX` record. The validation is successful and a warning is stored that no mx record could be found.

But is this really the correct semantics that the dns validator should do? For this domain, it wil

[2020-09-04 06:53] joseph-cs opened #259 "PHP Error on this library"
Hi ! When we use your library we get this error...

PHP error: Namespace declaration statement has to be the very first statement or after any declare call in the script in /var/www/html/jos/vendors/EmailValidator/EmailValidator.php at 4

[2020-09-04 08:49] xabbuh commented on #259
Can you show the full contents of the `/var/www/html/jos/vendors/EmailValidator/EmailValidator.php` file?

[2020-09-04 15:13] CarlAtIssl opened #260 "dns_get_record(): A temporary server error occurred."
Hi

When we use this check on an invalild email address, we get the following exception emailed to us:

** Message **
dns_get_record(): A temporary server error occurred.

** File **
DNSCheckValidation.php

** Action **
update

** Line **
121

And then get some other file references:

** Trace **

Illuminate\Foundation\Bootstrap\HandleExceptions -> handleError
DNSCheckValidation.php : 121
dns_get_

[2020-09-05 10:56] joseph-cs commented on #259
Thanks for your response. It was a default line added by our application in the beginning. Not a fault of this library.

[2020-09-05 10:56] #259 closed

[2020-09-06 13:16] egulias commented on #260
hi @CarlAtIssl , thanks for reporting.
Two bugs in one :).
First, there's a php bug: https://bugs.php.net/bug.php?id=73149 that prevents the exception to be handled.
Second, there's no exception control within the validator itself.

There's a workaround, will implement.

Eduardo

[2020-09-06 13:44] egulias commented on #258
Hi @tpetry , it is a valid point the one you are rising. The DNS validation was inherited in "logic" from Dominic Sayer's "isemail" function/lib.
In that, the non-existance of an MX records has this same behaviour.

The point is that changing a behaviour would force a major version change. I'm working on a new version and it could fit.

Meanwhile I can suggest you add the logic by wrapping the val

[2020-09-06 13:44] #260 closed

[2020-09-06 13:48] egulias commented on #256
Hi there,
please check #261
It is a bug in PHP that raises an un-catchable error. Wrokaround implemented.
Please let me know if it still happens with version 2.1.20

[2020-09-08 19:35] kevindb commented on #130
I would also like to request clarification on what the strategies are. I cannot figure out which I want to use between the available validations. In particular, RFCValidation and NoRFCWarningsValidation. Even just a one sentence description of each would be helpful!

[2020-09-10 22:06] egulias opened #262 "Split non-RFC validations into a new package - pros/cons"
After being pointed out in some issues that the validator might be doing more than validating the email address pure syntaxis, I've got to the conclusion that this is somewhat correct.
It has the DNSValidation and the SpoofEmailValidation. And many more could fit if they were to have their own package.

Now, spliting into another package would mean additional maintenance while also allowing for ne

[2020-09-14 07:22] nicolas-grekas commented on #262
Keep it in one package. Unless the ppl suggesting this split want to be in charge, you should decide for what makes your life morea easy, as a maintainer.

[2020-09-15 13:29] kish0808 commented on #257
Hi @egulias ,
Fix INTL_IDNA_VARIANT_2003 is deprecated since PHP 7.2 #257 : (https://github.com/egulias/EmailValidator/pull/264)

[2020-09-19 14:38] egulias commented on #257
Thanks for the PR, it is valid in lower PHP versions.
Merged!

[2020-09-19 14:38] #257 closed

[2020-09-20 13:20] #236 closed

[2020-09-22 10:09] lptn commented on #256
hey @egulias
The warning message is still present:
[code]

Package version: [2.1.21](https://github.com/egulias/EmailValidator/releases/tag/2.1.21)
PHP Version 7.4.4 FPM/FastCGI

php.ini
[code]

[2020-09-26 14:40] egulias commented on #256
Hi @lptn
That's weird. Code in that version is (https://github.com/egulias/EmailValidator/blob/master/src/Validation/DNSCheckValidation.php#L119 )
$dnsRecords = @dns_get_record($host, DNS_MX + DNS_A + DNS_AAAA);`
Looks like you are doing the test withoout the `@` to supress errors, PHP's `dns_get_record` internal function has a bug https://bugs.php.net/bug.php?id=73149 .

[2020-09-26 14:48] egulias commented on #214
See #217

[2020-09-26 14:49] #249 closed

[2020-09-26 15:50] egulias commented on #214
Solved in 2.1.22

[2020-09-26 15:50] #214 closed

[2020-09-26 15:50] egulias commented on #217
Solved in 2.1.22

[2020-09-26 15:50] #217 closed

[2020-09-30 11:08] lptn commented on #256
Hey @egulias
I also surprised how PHP behaves in this case. This is a screenshot from a Tinker REPL:

![image](https://user-images.githubusercontent.com/5278175/94677854-43703600-0326-11eb-8fe6-8bc631ab3117.png)

It seems like the behaviour depends on PHP settings, but I couldn't find which ones

[2020-10-10 16:14] egulias commented on #256
Hi @lptn , thanks for the follow up.
It is surprising. Maybe it has to do with a config related to the `@` behaviour and eliminating it?
I've done a quick search but nothing apparent.

How could we catch that error if suppression fails?

[2020-10-12 21:19] lptn commented on #256
@egulias
I've checked my php.ini and haven't find anything suspicious. Currently, I even don't know where to dig... Do you have any ideas?

[2020-10-31 20:39] #215 closed

[2020-10-31 20:40] egulias commented on #215
See #268 , fixed in version 2.1.23

[2020-11-02 21:17] reinink commented on #255
FWIW, upgrading to Laravel 8 caused all my tests (that use `example.com`) to start failing. 😕

[2020-11-03 14:32] sebdesign commented on #255
[RFC6761 §6.2](https://tools.ietf.org/html/rfc2606#section-2) should clarify things up a bit.

@Ekman For the readme, maybe `@domain.example` should be better?

@reinink In my tests I would use `@domain.test`, or something similar to `*.test`.

[2020-11-03 14:50] reinink commented on #255
@sebdesign Hey thanks for the suggestion!

[2020-11-03 16:09] sebdesign commented on #255
@reinink Ok actually I'm wrong, `dns_get_record()` does not work with `.test` domains. I don't know what's the best alternative here.

If we want to test that a domain is DNS-valid, then we should use a valid domain in our tests.
If we do not care about that, we should be able to fake the `DNSCheckValidator` in our tests. Is that possible in Laravel?

[2020-11-03 16:16] reinink commented on #255
Thanks for the update.

I agree, that's the way to fix it for sure. Not sure if it's possible in Laravel, I'll have to test. 👍

[2020-11-05 14:37] wmazhar opened #269 "error when composer update run"
Generating optimized autoload files Class Egulias\EmailValidator\Exception\ExpectedQPair located in ./vendor/egulias/email-validator/EmailValidator/Exception/ExpectingQPair.php does not comply with psr-4 autoloading standard. Skipping.

  mp

  Script @php artisan package:discover handling the post-autoload-dump event
  returned with error code 1

[2020-11-06 15:21] #269 closed

[2020-11-06 15:21] wmazhar commented on #269
composer install is the solution

[2020-11-07 15:06] egulias commented on #171
Solved in #173

[2020-11-07 15:06] #171 closed

[2020-11-07 15:11] #210 closed

[2020-11-07 15:12] #130 closed

[2020-11-07 15:12] #255 closed

[2020-11-07 15:15] egulias commented on #185
This works in the latest versions. Thanks for reporting.

[2020-11-07 15:15] #185 closed

[2020-11-10 10:32] mgarcia96 opened #271 "/vendor/composer/../egulias/email-validator/EmailValidator/Validation/RFCValidation.php): failed to open stream: No such file or directory"
Any help?

It appears this in my app for the last few days I don't know Why!

I'm using laravel validation, basic email rule

[2020-11-10 10:34] mgarcia96 commented on #271
**SOLUTION**: Required **php-intl** package in your server

`apt install php-intl`

[2020-11-10 10:34] #271 closed

[2020-11-11 09:00] Jamesking56 opened #272 "Backtick in domain is incorrectly considered valid"
[code]

`$result` returns `true` when it should return `false`, Backticks aren't allowed in the domain portion according to the RFC

[2020-11-14 15:16] egulias commented on #272
Thanks for reporting @Jamesking56 .
Arguably, it is valid in the **broader** definition of the RFC 5322, see https://tools.ietf.org/html/rfc5322#section-3.4.1 . It is true that regarding RFC1035 backtick is not allowed.
I'll address it, nevertheless, this is a behaviour change since this V2 of the validator follows the broader definition. This will change in V3.

[2020-11-14 15:28] #272 closed

[2020-11-22 18:07] virtruvio opened #274 "missing '.' in domain+tld considered valid"
v 2.1.24

[2020-11-23 15:36] #274 closed

[2020-11-23 15:37] virtruvio commented on #274
just recalled that RFC does allow domain without tld as valid.

[2020-11-25 15:38] ThibaudDauce commented on #258
Hi,

The RFC says that if a MX is not present, the domain is still valid with a `A` or a `AAAA` record. The new implementation could refuse valid email address.

https://en.wikipedia.org/wiki/MX_record

[2020-12-08 07:34] nageshlop opened #279 "Build failure on 3.0.0-dev branch"
The build is failing on 3.0.0-dev branch, while running code coverage. The build and test results can be found at below location.
https://travis-ci.com/github/nageshlop/EmailValidator/builds/207208976

Error Log:
.......
....
Generating code coverage report in Clover XML format ... done [244 ms]
The command "vendor/bin/phpunit --coverage-clover build/logs/clover.xml" exited with 0.
1.62s$ if [ "$p

[2020-12-28 10:02] egulias commented on #262
Thanks @nicolas-grekas , I have followed your advise.

[2020-12-28 10:02] #262 closed

[2020-12-28 11:01] #279 closed

[2020-12-29 16:12] egulias commented on #235
Fixed in v3.
Can you please confirm that this still fails in latest v2 (2.1.25)?

[2020-12-29 16:15] egulias commented on #258
Behaviour change has been done for v3 to be a little bit more "real life" friendly.

[2020-12-29 16:15] #258 closed

[2020-12-29 16:16] egulias commented on #188
Fixed in v3.

[2020-12-29 16:16] #188 closed

[2020-12-29 16:16] egulias commented on #181
Fixed in v3.

[2020-12-29 16:16] #181 closed

[2020-12-30 10:47] #187 closed

[2020-12-30 10:48] egulias commented on #161
Hi,
@fdelapena can you please check againts the latest version in v2 (2.1.25), it should be solved?
In v3 this is addressed by being RFC1030 compliant and by allowing PR for additional validations, like the HTML5 regex.

[2020-12-30 10:52] egulias commented on #150
Closing as v1.2 is no longer maintained. Thanks.

[2020-12-30 10:52] #150 closed

[2020-12-30 10:58] egulias commented on #152
Fixed in 2.1.22 -> https://github.com/egulias/EmailValidator/blob/2.1.x/tests/EmailValidator/Validation/RFCValidationTest.php#L171

[2020-12-30 10:58] #152 closed

[2020-12-30 11:02] #241 closed

[2020-12-30 11:04] egulias commented on #248
Hi @rrjanbiah ,
Yes, took your suggestions and made them space in v3 of the library by adding the possibility to have "extra" validations (check the Contributing file).
While I'll do my part to add them, I'm more than happy to review and merge implementations.

[2020-12-30 11:04] #238 closed

[2020-12-30 11:06] egulias commented on #235
Tested, should be fixed in 2.1.25.

[2020-12-30 11:06] #235 closed

[2020-12-30 11:09] egulias commented on #239
Hi,
main concerns regarding domains have been addressed in v3 (released 2020/12/29).
V2 was following only email RFCs, in which domain part was treated very loosely. In v3 the approach is to follow RFC1030 ("internet domains" RFC).
So please upgrade, this won't be solved in v2.

[2020-12-30 11:09] #239 closed

[2020-12-30 11:12] egulias commented on #177
Closing per @GrahamCampbell [comment on Symfony's decision](https://github.com/egulias/EmailValidator/pull/231#issuecomment-671259002)

[2020-12-30 11:12] #177 closed

[2021-01-18 09:28] georgringer opened #281 "Allowed memory size of 134217728 bytes exhausted"
Found an example which triggers fatal error

[code]

 expectation: it should just return false not a fatal error

[2021-01-22 15:26] driesvints opened #282 "Failing SwiftMailer test after upgrade to v3"
Hi all, I hope this is the right place to ask this question as I couldn't immediately find something in the contributing guidelines. Appreciating if anyone could answer a question I have about a failing SwiftMailer test after upgrading to v3.

I've tried patching SwiftMailer to v3 which mostly went super smooth and didn't require any code changes (thanks!). But one test is now failing for EmailVal

[2021-01-24 14:28] egulias commented on #195
Also https://github.com/symfony/symfony/pull/39685 & #282

[2021-01-24 14:28] egulias commented on #282
Hello @driesvints , it is the right place to ask!
The test is failing because v3 of the validator validates the domain part (after the `@`) against RFC1035 which is actually what is used in Real Life (r) and generated lots of confusion in user-land (as you can read in the changelog https://github.com/egulias/EmailValidator/blob/3.x/CHANGELOG.md#breacking-changes).
Now, the test is validating an "I

[2021-01-24 14:35] egulias commented on #281
Hello @georgringer !
For which version? I have run a test for both 3.x and 2.x and both return `false` on that string.
Thanks!

[2021-01-25 07:54] georgringer commented on #281
[code]
with `PHP 7.4.3`

[2021-01-25 19:23] driesvints commented on #282
Hey @egulias thank you for the very thorough answer! I'll keep an eye out on that issue and the Symfony PR to see what they'll do. Nothing is urgent here. Thanks for your work! 👍

[2021-01-27 17:03] ghost commented on #161
Hi @egulias,
If checked with the RFC validator with latest 2.1.x, it still considers the above valid, which seems fine according to the RFC spec, as discussed, so it didn't seem to change in the recent update.

Tested with both SwiftMailer, which uses the RFCvalidator internally throwing RFC exceptions and with the snippet and they didn't change so far, unless you have implemented it in another di

[2021-02-03 16:05] peter279k opened #283 "Consider migrating to Travis CI dot com or other CI services"
As title, since the Travis CI dot org will be deprecated soon, it should migrate to Travis CI dot com or other CI services.

Such as Circle CI or GitHub Actions.

[2021-02-04 07:08] cdjenkins commented on #282
I added swiftmailer ("swiftmailer/swiftmailer": "^6.0") to my composer.json. This installed version 2.1.25 of your library. Now one of my unit tests fails. Now `$validator->assert('d@dcom');` should throw an exception, but now doesn't. Any ideas why?

[2021-02-04 09:03] driesvints commented on #282
@cdjenkins maybe best that you create a separate issue for that so this one stays at the topic on hand?

[2021-02-07 14:41] egulias commented on #283
Hello @peter279k , yes, that's true. There's a first approach with https://github.com/egulias/EmailValidator/pull/277 . Once I wrap my head around which to use, I'll migrate them.

[2021-02-07 14:44] egulias commented on #282
Hi @cdjenkins , please open a new issue so we keep topics scoped. Happy to help you in the new one.

[2021-02-07 14:46] egulias commented on #281
Thanks @georgringer . I have unable to repropduce this one. Can you do a PR with a failing unit test with the specific version added to the Travis matrix?

[2021-02-07 14:57] egulias commented on #161
Hi @fdelapena , thanks for sharing. There's an additional validation possible with https://github.com/egulias/EmailValidator/issues/183 .
You can upgrade to v3 (swiftmailer still needs some adaptations to be able to use it) or add the postfix validator with a custom validator implementing the interface a using "MultipleValidationWithAnd" to have both validate the email. This way you could avoid ha

[2021-02-07 19:15] cdjenkins commented on #282
will do

[2021-02-08 07:48] georgringer commented on #281
hey. sorry I can't reproduce it testing it in a test file but current usage also basically does the same thing

[2021-02-08 07:48] #281 closed, assigned to nobody

[2021-02-22 12:27] gjuric opened #288 "Revert changes for domains without MX"
I would kindly ask you to rethink your stance on the DNS validation regarding domains with missing MX records. I am talking about the change proposed here https://github.com/egulias/EmailValidator/issues/258 and implemented in https://github.com/egulias/EmailValidator/commit/c4f703603e3e2cdcb0f5e3f957fe498874392ae3

This library is pretty popular (over 130 million installs) and is a dependency of

[2021-02-27 20:11] vinnygambiny opened #289 "Class "Doctrine\Common\Lexer\AbstractLexer" not found"
I have installed a new Laravel project with version 8 with JetStream and the register failed with the validation email.

`Class "Doctrine\Common\Lexer\AbstractLexer" not found at vendor/egulias/email-validator/src/EmailLexer.php:7`

Someone have an idea why?

[2021-02-28 01:55] vinnygambiny commented on #289
I found the solution, it's my composer cache installed the wrong package files.
`composer clearcache` solved the issue.

[2021-02-28 01:55] #289 closed, assigned to nobody

[2021-02-28 14:27] #256 closed

[2021-02-28 14:42] egulias commented on #288
Hello @gjuric , thanks for sharing your thoughts.
As far as I know, Symfony uses the NoRFCWarning validation, which checks syntaxis and fails on any warning. They do not use DNSCheckValidation by default, which is good since it requires an outside network connection to do so and it slow and adds another dependency.
I understand that there might be a lot of wrongly configured domains , however at t

[2021-03-01 15:07] gjuric commented on #288
Fair points, the problem is that the owners don't need to fix it since it is is valid per the relevant RFCs.

It is not valid just for this library. If somebody wants to block those as well that is his right, but I think making this an option would be a more sensible approach. Whatever you decide feel free to close this issue.

[2021-03-06 18:52] cdjenkins opened #291 "Invalid email validates with version 2.1.25"
I added swiftmailer ("swiftmailer/swiftmailer": "^6.0") to my composer.json. This installed version 2.1.25 of your library. Now one of my unit tests fails.
`
public function testEmailValidatorNodomain()
   {
       $this->expectException(ValidatorException::class);
       $validator = v::getValidator('email');
       $this->assertInstanceOf(Validator::class,$validator);
       $validator->assert('

[2021-03-06 18:52] cdjenkins commented on #282
added my concern as a new issue.

[2021-03-07 14:52] egulias commented on #282
@driesvints Github did it's magic and closed it. v3.1 has been released, please close the issue once you fix Swiftmailer with the new version.
Thanks!

[2021-03-09 11:00] driesvints commented on #282
Hey @egulias. I have no idea how it's possible but the test fails again with the newly tagged v3.1.0.

[code]

I see some extra commits have been added to the PR after I tested it. Did something from those break it again?

[2021-03-09 11:03] driesvints commented on #282
I tried again with the exact commit from before I tested and now the test is failing again. I have no idea why it was passing for me before... I'm sure I required the correct PR branch...

[2021-03-09 11:22] driesvints commented on #282
Nvm, false alarm. I forgot to make use of the new class. Everything's working now 😅 Sorry about that.

Thanks again for helping out here!

[2021-03-09 11:22] #282 closed, assigned to nobody

[2021-03-09 11:23] driesvints commented on #282
Here's the SwiftMailer PR: https://github.com/swiftmailer/swiftmailer/pull/1334

[2021-03-09 13:04] driesvints commented on #282
PR was merged and released.

[2021-03-12 07:58] rimace opened #294 "Probably unnecessary check for Intl"
The check and error message at [DNSCheckValidation.php:38](https://github.com/egulias/EmailValidator/blob/3.x/src/Validation/DNSCheckValidation.php#L38) seems unnecessary.  Because if the extension doesn't exist, the function is provided by the package `symfony/polyfill-intl-idn` you defined as dependency in your composer.json.
As `symfony/polyfill-intl-idn` is a "hard" dependency and not just a s

[2021-03-15 15:15] semihkeskindev commented on #291
i have same problem either.  When i enter "semih@semih", it passed unexpectedly

[2021-03-15 21:45] egulias commented on #291
Hello @cdjenkins .
V2.1.25 does not have BC breaks so should work just fine. It works well with swiftmailer.

Several things to check from your code:
* As I see, you are testing the library, which already has its set of tests.
* You are getting an instance of the validator from something calle `v` and `isValid` does no throws an exception, it always has returned false/true, so I'm guessing `v` has

[2021-03-15 22:09] semihkeskindev commented on #291
Hi @egulias,

I'm using this package indirectly. I have `laravel/framework: v7.30.4`  in my composer.json and framework requires `swiftmailer/swiftmailer: v6.2.5` and swiftmailer requires this package.

Package version on lock that I'm using: 2.1.25

I added email rule for a endpoint request.

[code]

Normally, When the endpoint got email like `semih@semih`, It return 422 response because of not v

[2021-03-15 22:18] semihkeskindev opened #295 "Wrong email validation with version 2.1.25"
I'm using this package indirectly. I have `laravel/framework: v7.30.4`  in my composer.json and framework requires `swiftmailer/swiftmailer: v6.2.5` and swiftmailer requires this package.

Package version on lock that I'm using: 2.1.25

I added email rule for a endpoint request.

[code]

Normally, When the endpoint got email like `semih@semih`, It return 422 response because of not valid. But It s

[2021-03-16 20:18] cdjenkins commented on #291
`use App\Validator as v;`

For me, if `d@dcom` is valid (i.e. no period is needed), then I'll remove the expected exception from my unit test

[2021-03-19 10:23] astehlik opened #296 "Are long dashes (—) allowed in domain name?"
I recently stumbled over an issue with (possibly invalid) dashes in domain names:

[code]

This validator accepts the address as valid.

The mailserver disagrees. When sending an email to this address I get an error:

[code]

Also: the native PHP `filter_var` function does not accept the address.

So who is right here?

Cheers
Alex

[2021-03-28 16:37] egulias commented on #296
Hello @astehlik ,
Depends on the version of the library you are using.
V2.x should mark it as valid since email RFCs are more open in the chars allowed in the domain.
V3.x should mark it as invalid because it validates against RFC1035.
`filter_var` is a bad comparision since even `test@toplevel` and uft8 would also be marked as invalid. That's why this library exists.

Which is the case?

[2021-03-28 16:45] egulias commented on #295
Hello @semihkeskindev
`test@toplevel` is a valid email per the RFC. However, a syntactically valid emails does not mean that the email exists. This library checks for the syntaxis.
This is how it is intended to work.
If this case is too wide for you and regex works for your use case, I'm happy for that. As a tip, I suggest you to use PHP's `filter_var` which while it has some shortcommings it is m

[2021-03-28 16:45] #295 closed, assigned to nobody

[2021-03-31 18:01] astehlik commented on #296
Thank you for the feedback @egulias

I updated to version 3.1 and tested again:

[code]

So normally this should return false?

Cheers
Alex

[2021-04-01 18:39] egulias commented on #296
Hi @astehlik , looks like you have found a bug. Yes, should be false. I belive it will be related to encoding.
Could you provide the UTF-8 code for it?
Thanks.

[2021-04-04 19:45] Romain-Devillez opened #298 "Compile Error"
![Capture d’écran 2021-04-04 à 21 42 44](https://user-images.githubusercontent.com/49993311/113519767-b1740f00-958e-11eb-8243-61f6540ea16b.png)

Hello,

I have an issue when i try to register my User.

Version :
"egulias/email-validator": "^2.1.10|^3.1",
"egulias/email-validator": "~3.0.0",
Symfony 5.2
PHP 7.3

My Controller :
`<?php

namespace App\Controller;

use App\Entity\User;
use App\Form\

[2021-04-06 18:16] astehlik commented on #296
Thank you for the info @egulias

I tested it with the the so called em dash with Unicode `U+2014` and HTML entity `&mdash;`

See also:
https://en.wikipedia.org/wiki/Dash#Common_dashes_and_their_Unicode_code-points

I hope this helps.

Cheers
Alex

[2021-04-11 13:55] egulias commented on #298
Hello @Fizzy-59
Looking at this, it might happen that you have the two versions of the validator. To be able to help, can you please remove
`"egulias/email-validator": "~3.0.0",` ?
The firm of `EmailValidator::isValid` could have changed betwen 3.0 and 3.1

[2021-04-23 12:31] zhil commented on #291
ok, I am confused a bit.
when I test asd@asdqqq with this library - its valid email. Is it correct?

[2021-04-26 18:56] sentiasa opened #299 "Can't install on Laravel 8.38.0"
I tried to pull from composer `composer require egulias/email-validator` but it's throwing me error:

[code]

Can you please guide me on this?

[2021-04-26 18:58] sentiasa commented on #299
Oh, its already installed on the framework. Sorry about it

[2021-04-26 18:58] #299 closed, assigned to nobody

[2021-05-26 07:39] tyteen4a03 opened #300 "ASCII-only RFC Validation"
Is it possible to only enable ASCII in RFC validation?

[2021-05-29 15:00] egulias commented on #300
Hello @tyteen4a03 , you can create one and I would be more than happy to review and merge.
You can do so by creating:

1. Create a comprehensive suite of tests where non-ascii should fail
2. A new ASCIILocalPart parser extending from https://github.com/egulias/EmailValidator/blob/3.x/src/Parser/PartParser.php
3. A new ASCIIParser by implementing https://github.com/egulias/EmailValidator/blob/3.x/s

[2021-05-29 15:15] #298 closed, assigned to nobody

[2021-05-29 15:17] egulias commented on #291
Hello, thanks for your patience.
Yes `local@domain` is a valid email.

[2021-05-29 15:17] #291 closed, assigned to nobody

[2021-07-15 09:37] cuchac opened #301 "DNSCheckValidation: Safe way to query AAAA record"
Hello,
I'm using DNSCheckValidation in production on many sites with great success. Recently I discovered some specific domains that are validated as invalid. Those domains are valid and have correct MX records.

The root cause of problem is that PHP issues "A temporary server error occurred" for AAAA dns_get_record because domain servers returns SERVFAIL for AAAA records. Probably it is not so ra

[2021-07-16 10:35] egulias commented on #301
Hi @cuchac , I'm glad you have found usefull the validation.
Very detailed issue, thanks.
My understanding, from your words, is that this case is common enough to have an RFC while it is also rare enough. I believe DNS validation is not so used.

So, option I see would be something like:

1. Transform from `const` to a private property
2. Add a way to pass "configuration" via a helper type/class o

[2021-08-09 12:16] torbenfischer opened #302 "Whitespaces before and after the @ should not be valid"
Hello,

we are using your RFCValidation (Package version 2.1.25) through the laravel-framework validation and found a problem. Some customers entered  their email address with a whitespace before or after the "@" separating the local and domain part. In our opinion this should not be valid according to RFC.

#### currently

[code]

#### should be

[code]

kind regards
Torben

[2021-08-12 21:11] egulias commented on #302
Hello @torbenfischer
As you can see in https://github.com/egulias/EmailValidator/blob/2.1.x/tests/EmailValidator/Validation/RFCValidationTest.php#L243 , that is the expected behaviour.
The email is valid, albeit with warnings for a rare option where it might work (like https://github.com/egulias/EmailValidator/blob/2.1.x/tests/EmailValidator/Validation/RFCValidationTest.php#L103).
You can use [NoR

[2021-09-03 23:08] sscotti opened #303 "Probably not an issue, but a question about the version packaged with laravel/framework v8.58.0"
laravel/framework v8.58.0 requires egulias/email-validator ^2.1.10.  Kind of wondering how to upgrade that if I wanted to use the more recent version.  Kind of a novice when it comes to resolving / upgrading package dependencies.

I installed the more recent version in another MVC PHP framework and it works fine.

[2021-09-04 21:41] egulias commented on #303
Hello @sscotti , AFAIK it will be upgraded in Laravel v9 per https://github.com/laravel/framework/pull/36525 .

However, if you want to do it before that, v3 keeps the main interface than v2 so in theory you can change composer.json to the newest version and if the other requirements (like the PHP version) are ok, can potentially work.
I'm not being more assertive because I don't know Laravel's in

[2021-09-04 22:07] sscotti commented on #303
Thanks.  I might try that.  Would that just be in the composer.json for laravel framework ?  e.g.
[code]

Also might just wait until Laravel 9.x is released and do the upgrade then.  I installed your newest package in another composer framework I have and works fine.

`Symfony 6.0 is due for release in November. For that reason, we are choosing to delay the Laravel 9.0 release until January 2022.`

[2021-09-05 16:33] #303 closed, assigned to nobody

[2021-09-05 16:34] sscotti commented on #303
I'll wait for the Laravel 9 release.

[2021-09-08 20:30] ricardo commented on #234
thankz

I ran `composer update` and it fixed the issue.

[2021-12-16 01:53] darthsoup commented on #283
Hi, im still open for a Github Actions migration. Just ping me ;)

[2022-01-12 12:29] robert-pod-trak opened #307 "Compile Error! Declaration of Egulias\EmailValidator\Validation\MessageIDValidation::getError()..."
Hi and congrats on this software,

Around October 2021 emails stopped sending at all.  Fuel PHP just gives it's "Ooops! Something went wrong".  On my dev site though I get the below even after removing and doing a composer re-install. :

Compile Error!
ErrorException [ Compile Error ]:
Declaration of Egulias\EmailValidator\Validation\MessageIDValidation::getError() must be compatible with Egulias\

[2022-01-12 17:03] chrisdeeming opened #308 "Single quotes are valid according to RFC 5322"
If I validate an email such as:

[code]

It will fail with a `ATEXT found after CFWS` error.

According to RFC 5322 and other validators that adhere to the standard, this should be valid.

There was an issue a while ago about single quotes which was fixed, which I'm not sure was related or not, but that was specifically about an address in this format not being valid (which would be correct):

[co

[2022-01-12 19:15] chrisdeeming commented on #308
Sorry I might need to take another look at this.

[2022-01-12 19:15] #308 closed, assigned to nobody

[2022-01-14 15:42] egulias commented on #307
Hi @robert-pod-trak
Latest version show them both equal:
https://github.com/egulias/EmailValidator/blob/3.x/src/Validation/EmailValidation.php#L26
https://github.com/egulias/EmailValidator/blob/3.x/src/Validation/MessageIDValidation.php#L47

The only difference is the docblock, missing in `MessageIDValidation` but that shouldn't give a compilation error.
Are you on the latest version?

[2022-01-14 17:54] robert-pod-trak commented on #307
v3.1.1

elso get this  :

Backtrace
COREPATH/bootstrap.php @ line 80
[code]

my cpmoser installed.json :
[code]

Thanks

[2022-01-18 09:32] aarontsman opened #309 "local-part length does not comply to RFC5321"
Hello,
I recently stumbled over an issue with long local-part, much more than defined in [RFC5321](https://datatracker.ietf.org/doc/html/rfc5321#section-4.5.3.1.1 )

The example (166 chars long) is accepted by the validator and treated as a valid email address:

`33dgetgetgkemtgoiethgiuergfhsrulghetuoigeignrugho33dgetgetgkemtgoiethgiuergfhsrulghetuoigeignrughoerigneorutgbeourgberutgbueitbget3erign

[2022-01-18 16:18] aarontsman commented on #309
Sorry, my bad - the strict mode wasn't enabled to enforce validation

[2022-01-18 16:18] #309 closed, assigned to nobody

[2022-01-18 17:29] robert-pod-trak commented on #307
Hi again.  Have upgraded to 3.1.2 but to no avail.  May be a clash with SwiftMailer we also use in tandem?  Or, Possibly we need PHP over version 7.0?  Thanks, Robert

[2022-02-01 14:13] nisancigokmen opened #310 "Contact"
hello, how can I contact you?
,gökmen.

[2022-02-02 18:15] egulias commented on #310
You just did :). How can I help you?

[2022-02-02 18:17] egulias commented on #307
Hi there.
Thanks for the patience. You do need PHP >=7.2 https://github.com/egulias/EmailValidator/blob/3.x/composer.json#L16

[2022-02-02 18:19] nisancigokmen commented on #310
_**super :D  Do you mind if I take part in a few projects with you?**_

[2022-02-03 10:27] robert-pod-trak commented on #307
Good morning,

Thanks.  Yes were working on upgrading our testing & staging  servers to 7.2.

Kind regards
Robert

p.s.  You can access our Dashboard<https://gbr01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fdashboard.pod-trak.com%2Ftakefive&data=04%7C01%7Crobert.lambert%40pod-trak.com%7Ca29e86f804924351d53f08d9a52fabe8%7C80a3d42c059e408c936d6175543cb8bc%7C0%7C0%7C637722446431551406%7CUnkn

[2022-02-04 20:31] egulias commented on #310
What do you mean? Which projects?

[2022-02-04 20:32] egulias commented on #307
Cool. Let me know so I can close the issue.

[2022-02-07 01:25] nisancigokmen commented on #310
**I want to collaborate with you. If you wish, we can discuss in detail. good works. , gökmen** @egulias
thanks:)

[2022-02-11 09:37] dadscript opened #312 "Email "www.foo.bar.baz@#" is valid?"
[code]

HTML5 validator is saying also that `www.foo.bar.baz@#` is wrong.

[2022-02-16 16:44] chimilevschi opened #315 "I can't send any email after upgrade to Laravel 9"
After upgrading to Laravel 9, I can not send any email (registration email, forgot password or any other email).

Fatal Error: Symfony\Component\ErrorHandler\Error\FatalError: Declaration of Egulias\EmailValidator\Validation\MessageIDValidation::isValid(string $email, Egulias\EmailValidator\EmailLexer $emailLexer): bool must be compatible with Egulias\EmailValidator\Validation\EmailValidation::isV

[2022-02-16 17:12] chimilevschi commented on #315
I fixed this.
I remove vendor folder and update composer.
Now it works fine.

[2022-02-16 17:12] #315 closed, assigned to nobody

[2022-03-02 10:02] FranzBruckner opened #316 "some.@tld.com marked as invalid, but should be valid according to RFC 2822"
A dot before @ (some.@tld.com) will be marked as invalid.

~~Browsers (Chrome) and Symfony Validators mark them as valid too.~~
- The Symfony-Validator can be configured to use "HTML5" or "Strict" Validation. Strict uses this validator
- Browsers use "HTML5" Validation

Nevertheless...
As far as I can tell, according to RFC 2822 it should be valid.

[2022-03-08 18:43] FrancisMawn opened #317 "Email addresses with hyphens as the first or last letter in the domain part"
Hi,

I am currently using v3.1.2 and we have failed jobs trying to send emails to domain like `foo@bar.-baz.com`
These emails have passed the validation although the SMTP transactions are failing reporting an invalid email domain.
Is this supposed to be considered valid?

[2022-03-21 14:51] fisharebest commented on #307
I don't know if this helps identify the cause of *your* error, but I got the same error when installing an older version of an application on top of a newer version (without deleting the old files first).

The result was that I had the `MessageIDValidation` class from v3 present in an installation that used v2.

SymfonyMailer uses `class_exists(MessageIDValidation::class)`, which triggers the erro

[2022-03-22 17:54] mowbr002 opened #318 "DNSCheckValidation returns an error message with transposed letters"
`No MX or A DSN record was found for this email`
Should be:
`No MX or A DNS record was found for this email`

[2022-03-24 16:30] FrancisMawn commented on #317
I think the current validation does not account for subdomain fragments... ?

[2022-04-02 17:43] egulias commented on #317
Hi, thanks for your patience.
As far as I can tell, a dash/hyphen `-` after a dot `.` is not valid for domains parts according to [RFC 1035](https://datatracker.ietf.org/doc/html/rfc1035). While it migh be valid according to the various  "email" RFCs, this library changed to validate against the domain RFC since v3.

[2022-04-02 17:46] egulias commented on #316
Hi, can you refer to the part of the RFC that make this valid?

[2022-04-02 17:47] egulias commented on #318
Hey, thanks for spoting the typo. Feel free to make a PR with the fix!

[2022-04-02 17:50] egulias commented on #310
Thanks for your patience. I'm short on free time these days to engage on further open source projects. If you want to collaborate in the scope of this library, feel free to go through the issues and answer or send PRs with the fixes. I will happily review them.

[2022-04-02 17:51] egulias opened #320 "Update dependencies"

[2022-04-02 23:36] nisancigokmen commented on #310
Thanks:)

[2022-04-04 15:19] FrancisMawn commented on #317
Thank you for your response @egulias.

I'm not sure I understand your reply... Are you acknowledging the issue? The current version does not mark the email as invalid when it should.

[2022-05-05 15:22] smirgol commented on #316
I also got irritated by this, since I know someone who has an email address where the local part ends with "." and I never had issues sending/receiving mails to/from him. But, looks like it's indeed not valid according to [RFC3696](https://datatracker.ietf.org/doc/html/rfc3696#page-6) At the end of that page it reads:
`period (".") may also appear, but may not be used to start or end the local par

[2022-05-23 11:53] samdark opened #321 "Undefined array key "type""
I'm getting `Undefined array key "type"` error from time to time at production:

[code]

Relevant trace:

[code]

Email validated is `dddd@dddd.com`. It looks like `dns_get_record` might return info element w/o type specified.

[2022-05-25 08:14] samdark commented on #321
Same issue  with more emails such as `pht_hao2052@yh.com`.

PHP version is 8.1.6 OS is latest Alpine in Docker.

[2022-05-27 17:44] egulias commented on #321
Thanks @samdark! `dns_get_record` is tricky to test. Happy to review and merge a PR ;)

[2022-05-30 19:03] egulias commented on #321
Hi @samdark , should be fixed in v3.2 now. Please let me know

[2022-05-31 07:53] samdark commented on #321
I'll try upgrading and deploying it to production soon.

[2022-06-06 08:35] samdark commented on #321
Seems the problem is gone. Thank you.

[2022-06-06 08:35] #321 closed, assigned to nobody

[2022-06-07 09:58] bastian-schur commented on #302
Hello @torbenfischer

you can use the "strict" option in laravel:

`'email' => 'email:strict'`

see https://laravel.com/docs/9.x/validation

[2022-06-12 15:40] #310 closed, assigned to nobody

[2022-06-12 15:41] #307 closed, assigned to nobody

[2022-07-08 22:46] nhovratov commented on #181
`Abc\@def@example.com` still doesn't seem to work

[2022-07-09 15:42] carlo-quiamco commented on #234
salamat <3

[2022-07-13 14:55] egulias commented on #181
Hi @nhovratov , this is a 2 yars old issue. Do you mind opening a new one with your concrete incident? A failing test case would be super useful. Thanks

[2022-08-03 15:24] Ekman opened #334 "Undocumented breaking change in version 3"
You forgot to mention that the class `Error: Class "Egulias\EmailValidator\Validation\SpoofCheckValidation" not found` has moved between version 2 and 3. It's worth documenting in: https://github.com/egulias/EmailValidator/releases/tag/3.0.0

[2022-08-22 12:21] Salah-1 commented on #315
I have the same error and removing vendor folder + composer update doesn't solve it. What else can be done ?

[2022-09-03 09:56] egulias commented on #334
Thanks, done.

[2022-09-03 09:56] #334 closed, assigned to nobody

[2022-10-08 20:08] #248 closed

[2022-11-18 13:21] travelhawk opened #336 "Mail not being sent because of failed validation"
After moving to a different webhosting solution, my mails in laravel app are not being sent anymore. I tracked it down to the email validation. I don't know why valied email addresses are causing this null exception. Does anyone has an idea?

See the stack trace below.

[code]

[2022-11-19 18:05] egulias commented on #336
Hi!
Can you post your PHP version and library version? Also the email domain would be useful.
It seems to be version 2.1.x , however I'm failing to see where the null is comming for the local part you have shared.

[2022-11-21 10:50] travelhawk commented on #336
Okay, I think I figured it out. It is not the email validation. The Recaptcha is failing and this results in a null value. So this can be closed. Thanks for the fast reply though :)

[code]

[2022-11-21 10:50] #336 closed, assigned to nobody